{% extends 'layout.html' %}

{% block title %} Admin : Categories {% endblock%}
{% block menutitle %} Categories {% endblock%}

{% block styles %}
{% endblock %}

{% block body %}

<div class="" style="padding:30px;position:relative;">
    <!-- DRINK LISTING -->
    <h2 class="ui header">
        <i class="archive icon"></i>
        <div class="content">
            Categories
        </div>

        <i class="plus icon green cursor" style="position:absolute;right:28px;top:24px;" onclick="createCategoriy()"></i>

    </h2>
    <table class="ui celled table list-drink" style="">
        <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>updated at</th>
            <th>created at</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody id="list-drink"></tbody>

        <tfoot>
        <tr>
            <th colspan="5">
                <div class="ui right floated pagination menu">
                    <a class="icon item trigger" data-direction="prev">
                        <i class="left chevron icon"></i>
                    </a>
                    <a class="icon item trigger" data-direction="next">
                        <i class="right chevron icon"></i>
                    </a>
                </div>
            </th>
        </tr>
        </tfoot>
    </table>
    <!-- END DRINK LISTING -->

    <!-- DRINK DETAILS -->

    <h2 class="ui header">
        <i class="write icon"></i>
        <div class="content">
            Details
        </div>
    </h2>

    <div class="ui segment" $DATA$>
        <div class="ui grid" id="detail-category"></div>
    </div>
    <!-- END DRINK DETAILS -->
</div>

<!-- FORM MODAL -->

<div class="ui fullscreen modal" id="modal-alcohol">
    <i class="close icon"></i>
    <div class="header">
        Edit Offer <span class="drink-name"></span>
    </div>
    <div class="content">
        <form class="ui form" id="form-category">
            <div class="field">
                <label>Category Name</label>
                <input type="text" name="name" placeholder="category name">
            </div>
            <div class="field">
                <label>Description 1</label>
                <textarea name="desc1" placeholder="description 1"></textarea>
            </div>
            <div class="field">
                <label>Description 2</label>
                <textarea name="desc2" placeholder="description 2"></textarea>
            </div>
            <div class="field">
                <label>Price</label>
                <input type="text" name="price" placeholder="price">
            </div>
            <div class="field">
                <label>Drinks</label>
                <select name="drinks" multiple="" class="ui fluid search selection dropdown">
                    <option value="">Choose the Drinks</option>
                </select>
            </div>


            <input type="hidden" name="categoryid">
            <input type="hidden" name="action">
        </form>
    </div>
    <div class="actions">
        <div class="ui button blue" onclick="submitFormCategory()">Update</div>
    </div>
</div>

<!-- END FORM MODAL -->

{% endblock%}

{% block scripts %}
<script src="/js/admin/categories.js"></script>
<script>
    $('#menu-search').attr('disabled', true)
    $('.dropdown').dropdown()
</script>
{% endblock %}