{% extends 'layout.html' %}

{% block title %} Admin : Drinks {% endblock%}
{% block menutitle %} Drinks {% endblock%}

{% block styles %}
{% endblock %}

{% block body %}

<div class="" style="padding:30px;position:relative;">
    <!-- DRINK LISTING -->
    <h2 class="ui header">
        <i class="bar icon"></i>
        <div class="content">
            Drinks
        </div>

        <i class="plus icon green cursor" style="position:absolute;right:28px;top:24px;" onclick="createCategoriy()"></i>

    </h2>
    <table class="ui celled table list-drink" style="">
        <thead>
        <tr>
            <th>Name</th>
            <th>Alcohols</th>
            <th>Categories</th>
            <th>Price</th>
            <th>updated at</th>
            <th>created at</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody id="list-drink"></tbody>

        <tfoot>
        <tr>
            <th colspan="7">
                <div class="ui right floated pagination menu">
                    <a class="icon item trigger" data-direction="prev">
                        <i class="left chevron icon"></i>
                    </a>
                    <a class="icon item trigger" data-direction="next">
                        <i class="right chevron icon"></i>
                    </a>
                </div>
            </th>
        </tr>
        </tfoot>
    </table>
    <!-- END DRINK LISTING -->

    <!-- DRINK DETAILS -->

    <h2 class="ui header">
        <i class="write icon"></i>
        <div class="content">
            Details
        </div>
    </h2>

    <div class="ui segment" $DATA$>
        <div class="ui grid" id="detail-drink"></div>
    </div>
    <!-- END DRINK DETAILS -->
</div>

<!-- FORM MODAL -->

<div class="ui fullscreen modal" id="modal-drink">
    <i class="close icon"></i>
    <div class="header">
        Edit Offer <span class="drink-name"></span>
    </div>
    <div class="content">
        <form class="ui form" id="form-drink">
            <div class="field">
                <label>Drink name</label>
                <input type="text" name="name" placeholder="drink name">
            </div>
            <div class="field">
                <label>Drink Description</label>
                <textarea name="description" placeholder="description"></textarea>
            </div>
            <div class="field">
                <label>Saveur</label>
                <textarea name="saveur" placeholder="saveur"></textarea>
            </div>
            <div class="field">
                <label>Price</label>
                <input type="text" name="price" placeholder="price">
            </div>

            <div class="field">
                <label>Categories</label>
                <select name="categories" multiple="" class="ui fluid search selection dropdown">
                    <option value="">Choose the Categories</option>
                </select>
            </div>

            <div class="field">
                <label>Alcohols</label>
                <select name="alcohols" multiple="" class="ui fluid search selection dropdown">
                    <option value="">Choose the Alcohols</option>
                </select>
            </div>

            <input type="hidden" name="drinkid">
            <input type="hidden" name="action">
        </form>
    </div>
    <div class="actions">
        <div class="ui button blue" onclick="submitFormDrink()">Update</div>
    </div>
</div>

<!-- END FORM MODAL -->

{% endblock%}

{% block scripts %}
<script src="/js/admin/drinks.js"></script>
<script>
    $('#menu-search').attr('disabled', true)
    $('.dropdown').dropdown()
</script>
{% endblock %}