{% extends 'layout.html' %}

{% block title %} Admin : Formules {% endblock%}
{% block menutitle %} Formules {% endblock%}

{% block styles %}
{% endblock %}

{% block body %}

<div class="" style="padding:30px;position:relative;">
    <!-- DRINK LISTING -->
    <h2 class="ui header">
        <i class="building icon"></i>
        <div class="content">
            Formules
        </div>

        <i class="plus icon green cursor" style="position:absolute;right:28px;top:24px;" onclick="createFormule()"></i>

    </h2>
    <table class="ui celled table list-drink" style="">
        <thead>
        <tr>
            <th>Name</th>
            <th>NB Peopl</th>
            <th>Price</th>
            <th>updated at</th>
            <th>created at</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody id="list-formule"></tbody>

        <tfoot>
        <tr>
            <th colspan="6">
                <div class="ui right floated pagination menu">
                    <a class="icon item trigger" data-direction="prev">
                        <i class="left chevron icon"></i>
                    </a>
                    <a class="icon item trigger" data-direction="next">
                        <i class="right chevron icon"></i>
                    </a>
                </div>
            </th>
        </tr>
        </tfoot>
    </table>
    <!-- END DRINK LISTING -->

    <!-- DRINK DETAILS -->

    <h2 class="ui header">
        <i class="write icon"></i>
        <div class="content">
            Details
        </div>
    </h2>

    <div class="ui segment" $DATA$>
        <div class="ui grid" id="detail-formule"></div>
    </div>
    <!-- END DRINK DETAILS -->
</div>

<!-- FORM MODAL -->

<div class="ui fullscreen modal" id="modal-formule">
    <i class="close icon"></i>
    <div class="header">
        Edit Offer <span class="drink-name"></span>
    </div>
    <div class="content">
        <form class="ui form" id="form-formule">
            <div class="field">
                <label>Formule name</label>
                <input type="text" name="name" placeholder="formule name">
            </div>
            <div class="field">
                <label>Number of People</label>
                <input type="text" name="nbppl" placeholder="number of people">
            </div>
            <hr>
            <div class="field" style="text-align:right">
                <label>Item Name</label>
                <input type="text" name="itemname" placeholder="item name">
            </div>
            <div class="field" style="text-align:right">
                <label>Item description</label>
                <input type="text" name="itemdesc" placeholder="item description">
            </div>
            <div class="field" style="text-align:right">
                <label>Item Price</label>
                <input type="text" name="itemprice" placeholder="item price">
            </div>
            <div class="field" style="text-align:right">
                <label></label>
                <div class="ui button blue" onclick="addItem()"> add Item </div>
            </div>

            <div class="field form-formule-item-list">
                <label>Item List</label>
            </div>

            <input type="hidden" name="formuleid">
            <input type="hidden" name="action">
        </form>
    </div>
    <div class="actions">
        <div class="ui button blue" onclick="submitFormFormule()">Update</div>
    </div>
</div>

<!-- END FORM MODAL -->

{% endblock%}

{% block scripts %}
<script src="/js/admin/formules.js"></script>
<script>
    $('#menu-search').attr('disabled', true)
    $('.dropdown').dropdown()
</script>
{% endblock %}