{% extends 'layout.html' %}

{% block title %} Admin Dashboard {% endblock%}
{% block menutitle %} Admin Dashboard {% endblock%}

{% block styles %}
{% endblock %}

{% block body %}
<div class="ui container segment" style="margin-top:100px;padding:100px;text-align: center;">
    <h1> Admin Dashboard Mr.Vivien </h1>
</div>
{% endblock%}

{% block scripts %}
<script>
    $('#menu-search').attr('disabled', true)
    $('.ui.labeled.icon.sidebar')
            .sidebar('toggle')
</script>
{% endblock %}