<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mr.Vivien {% block title %}{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="/components/semantic/dist/semantic.min.css"/>
    {% block styles %}{% endblock %}

    <style>
        .cursor{
            cursor: pointer;
        }
    </style>
</head>
<body>
<div class="ui left vertical inverted sidebar labeled icon menu">

    <a class="item" href="{{ 'admin_landing'|route }}">
        <i class="home icon"></i>
        Home
    </a>
    <a class="item" href="{{ 'admin_categories'|route }}">
        <i class="archive layout icon"></i>
        Categories
    </a>
    <a class="item" href="{{ 'admin_alcohols'|route }}">
        <i class="lab layout icon"></i>
        Alcohols
    </a>
    <a class="item" href="{{ 'admin_drinks'|route }}">
        <i class="bar layout icon"></i>
        Drinks
    </a>
    <a class="item" href="{{ 'admin_formules'|route }}">
        <i class="building icon"></i>
        Formules
    </a>
    <a class="item" href="{{ 'admin_parties'|route }}">
        <i class="money icon"></i>
        Party Orders
    </a>
</div>

<div class="pusher">

    <div class="ui pointing menu">
        <a class="item sidebar-trigger">
            <i class="sidebar icon"></i>
        </a>
        <a class="active item">
            <strong>Mr.Vivien : {% block menutitle %}{% endblock %}</strong>
        </a>
        <div class="right menu">
            <div class="item">
                <div class="ui transparent icon input">
                    <input type="text" id="menu-search" placeholder="Search...">
                    <i class="search link icon" style="cursor: inherit"></i>
                </div>
            </div>
        </div>
    </div>

    {% block body %}{% endblock %}

</div>



<script src="/components/jquery/dist/jquery.min.js"></script>
<script src="/components/semantic/dist/semantic.min.js"></script>
<script src="/components/bluebird/js/browser/bluebird.min.js"></script>
<script src="/components/underscore/underscore-min.js"></script>
<script src="/js/helper.js"></script>
<script src="/js/admin/template.js"></script>
<script src="/js/platform.js"></script>

{% block scripts %}{% endblock %}
<script>
    $('.sidebar-trigger').click(function () {
        $('.ui.labeled.icon.sidebar')
                .sidebar('toggle')
    })

</script>
</body>
</html>