{% extends 'layout.html' %}

{% block title %} Admin : Parties {% endblock%}
{% block menutitle %} Parties {% endblock%}

{% block styles %}
{% endblock %}

{% block body %}

<div class="" style="padding:30px;position:relative;">
    <!-- DRINK LISTING -->
    <h2 class="ui header">
        <i class="lab icon"></i>
        <div class="content">
            Parties
        </div>

        <!--<i class="plus icon green cursor" style="position:absolute;right:28px;top:24px;" onclick="createParty()"></i>-->

    </h2>
    <table class="ui celled table list-drink" style="">
        <thead>
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
            <th>Phone</th>
            <th>City</th>
            <th></th>
            <th>Payment</th>
            <th>Price</th>
            <th>Event Date</th>
            <th>updated at</th>
            <th>created at</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody id="list-drink"></tbody>

        <tfoot>
        <tr>
            <th colspan="12">
                <div class="ui right floated pagination menu">
                    <a class="icon item trigger" data-direction="prev">
                        <i class="left chevron icon"></i>
                    </a>
                    <a class="icon item trigger" data-direction="next">
                        <i class="right chevron icon"></i>
                    </a>
                </div>
            </th>
        </tr>
        </tfoot>
    </table>
    <!-- END DRINK LISTING -->

    <!-- DRINK DETAILS -->

    <h2 class="ui header">
        <i class="write icon"></i>
        <div class="content">
            Details
        </div>
    </h2>

    <div class="ui segment" $DATA$>
        <div class="ui grid" id="detail-drink">
        </div>
    </div>
    <!-- END DRINK DETAILS -->
</div>

<!-- FORM MODAL -->

<div class="ui fullscreen modal" id="modal-alcohol">
    <i class="close icon"></i>
    <div class="header">
        Edit Offer <span class="drink-name"></span>
    </div>
    <div class="content">
        <form class="ui form" id="form-alcohol">
            <div class="field">
                <label>Alcohol Name</label>
                <input type="text" name="name" placeholder="alcohol name">
            </div>
            <div class="field">
                <label>Drink Type</label>
                <input name="type" placeholder="type">
            </div>
            <div class="field">
                <label>Brand</label>
                <input name="brand" placeholder="brand">
            </div>
            <div class="field">
                <label>Price</label>
                <input type="text" name="price" placeholder="price">
            </div>

            <input type="hidden" name="alcoholid">
            <input type="hidden" name="action">
        </form>
    </div>
    <div class="actions">
        <div class="ui button blue" onclick="submitFormParty()">Update</div>
    </div>
</div>

<!-- END FORM MODAL -->

{% endblock%}

{% block scripts %}
<script src="/js/admin/parties.js"></script>
<script>
    $('#menu-search').attr('disabled', true)
    $('.dropdown').dropdown()
</script>
{% endblock %}