<div class="row baseninebold menu-nav">
    <div class="col-lg-1 col-md-1 col-sm-1"></div>
    <div class="col-lg-3 col-md-3 col-sm-3">
        <span>
            <span id="btn-menu">menu</span>
            <a href="{{ 'contact'|route }}">
                <span id="btn-help" style="margin-left:50px;">aide</span>
            </a>
        </span>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4" style="padding:0; margin:0px; text-align:center;">
        <a href="{{ 'root'|route }}">
            <img src="/content/img/menu-logo-black.png" />
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3">
        <!-- TODO route ma commande -->
        <span class="header-ma-commande" style="float:right;"><span>ma commande</span><span class="total libre_baskervilleregular" style="margin-left:20px; font-style:italic;"></span></span>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1"></div>
</div>