﻿@font-face {
    font-family: 'baseninebold';
    src: url('../fonts/basenine_bold-webfont.eot');
    src: url('../fonts/basenine_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/basenine_bold-webfont.woff2') format('woff2'),
         url('../fonts/basenine_bold-webfont.woff') format('woff'),
         url('../fonts/basenine_bold-webfont.ttf') format('truetype'),
         url('../fonts/basenine_bold-webfont.svg#baseninebold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'basenineregular';
    src: url('../fonts/basenine_regular-webfont.eot');
    src: url('../fonts/basenine_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/basenine_regular-webfont.woff2') format('woff2'),
         url('../fonts/basenine_regular-webfont.woff') format('woff'),
         url('../fonts/basenine_regular-webfont.ttf') format('truetype'),
         url('../fonts/basenine_regular-webfont.svg#basenineregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'baseninesmallcapsregular';
    src: url('../fonts/baseninesmallcaps_regular-webfont.eot');
    src: url('../fonts/baseninesmallcaps_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/baseninesmallcaps_regular-webfont.woff2') format('woff2'),
         url('../fonts/baseninesmallcaps_regular-webfont.woff') format('woff'),
         url('../fonts/baseninesmallcaps_regular-webfont.ttf') format('truetype'),
         url('../fonts/baseninesmallcaps_regular-webfont.svg#baseninesmallcapsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'baseninesmallcapsbold';
    src: url('../fonts/baseninesmallcaps_bold-webfont.eot');
    src: url('../fonts/baseninesmallcaps_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/baseninesmallcaps_bold-webfont.woff2') format('woff2'),
         url('../fonts/baseninesmallcaps_bold-webfont.woff') format('woff'),
         url('../fonts/baseninesmallcaps_bold-webfont.ttf') format('truetype'),
         url('../fonts/baseninesmallcaps_bold-webfont.svg#baseninesmallcapsbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'libre_baskervilleregular';
    src: url('../fonts/librebaskerville-regular-webfont.eot');
    src: url('../fonts/librebaskerville-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/librebaskerville-regular-webfont.woff2') format('woff2'),
         url('../fonts/librebaskerville-regular-webfont.woff') format('woff'),
         url('../fonts/librebaskerville-regular-webfont.ttf') format('truetype'),
         url('../fonts/librebaskerville-regular-webfont.svg#libre_baskervilleregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'libre_baskervilleitalic';
    src: url('../fonts/librebaskerville-italic-webfont.eot');
    src: url('../fonts/librebaskerville-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/librebaskerville-italic-webfont.woff2') format('woff2'),
         url('../fonts/librebaskerville-italic-webfont.woff') format('woff'),
         url('../fonts/librebaskerville-italic-webfont.ttf') format('truetype'),
         url('../fonts/librebaskerville-italic-webfont.svg#libre_baskervilleitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'libre_baskervillebold';
    src: url('../fonts/librebaskerville-bold-webfont.eot');
    src: url('../fonts/librebaskerville-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/librebaskerville-bold-webfont.woff2') format('woff2'),
         url('../fonts/librebaskerville-bold-webfont.woff') format('woff'),
         url('../fonts/librebaskerville-bold-webfont.ttf') format('truetype'),
         url('../fonts/librebaskerville-bold-webfont.svg#libre_baskervillebold') format('svg');
    font-weight: normal;
    font-style: normal;
}

.baseninesmallcapsregular { font-family:baseninesmallcapsregular; }
.baseninesmallcapsbold { font-family:baseninesmallcapsbold; }
.baseninebold { font-family:baseninebold; }
.libre_baskervilleregular { font-family:libre_baskervilleregular; }
.libre_baskervilleitalic { font-family:libre_baskervilleitalic; }
.libre_baskervillebold { font-family:libre_baskervillebold; }

.background-orange { background-color:#c07850; }
.border-orange { border-color:#c07850; }
.color-orange { color:#c07850; }

.border-green { border-color:#005826; }
.color-green { color:#005826; }

.border-blue { border-color:#000064; }
.color-blue { color:#000064; }

.border-red { border-color:#ed1c24; }
.color-red { color:#ed1c24; }

.box { border-width:4px; border-style:solid; display:inline-block; margin:0px 5px; width:400px; text-align:center; padding:0px 0px; cursor:pointer; }
.box-orange {
    border-color:#c07850;
    color:#c07850;
}
.box-orange:hover {
    background-color:#c07850;
    border-color:#c07850;
    color:#fff;
}
.box-green {
    border-color:#005826;
    color:#005826;
}
.box-green:hover {
    background-color:#005826;
    border-color:#005826;
    color:#fff;
}
.box-blue {
    border-color:#000064;
    color:#000064;
}
.box-blue:hover {
    background-color:#000064;;
    border-color:#000064;
    color:#fff;
}
.box-black {
    border-color:#000;
    color:#000;
}
.box-white {
    border-color:#fff;
    color:#c07850;
}

.btn { border-width:4px; border-style:solid; padding:10px 10px;  text-transform:uppercase; font-family:baseninesmallcapsregular; font-size:16px; border-radius:0; }
.btn-std {
    background-color:#fff;
    border-color:#c07850;
    color:#c07850;
}
.btn-std:hover {
    background-color:#c07850;
    border-color:#fff;
    color:#fff;
}
.btn-white {
    background-color:#c07850;
    border-color:#fff;
    color:#fff;
}
.btn-white:hover {
    background-color:#fff;
    border-color:#c07850;
    color:#c07850;
}

html, body {
    background-color: #fff;
    padding: 0px;
    margin: 0px;
    border: 0px;
    width: 100%;
    height: 100%;
    min-height: 100%;
}

.wrapper { position:relative; min-height:100%; width:100%; padding:0; margin:0px; }
.menu-nav { width:100%; top:0px; padding:0; margin:0px; padding-top:50px; font-size:20px; z-index:999; }
.footer { position:absolute; width:100%; bottom:5px; font-family:libre_baskervilleitalic; font-size:8px; text-align:center; }
.pricelabel { vertical-align: top; font-size: 10px; top: 5px; }
.title-italic { font-family:libre_baskervilleitalic; font-size:44px; text-align:center; padding-top:100px; }
.title { font-family:baseninesmallcapsregular; font-size:44px; text-align:center; padding-top:100px; }
.subtitle-italic { font-family:libre_baskervilleitalic; font-size:14px; text-align:center; }
.subtitle { font-family:baseninesmallcapsregular; font-size:14px; text-align:center; }
.msg-alert-italic { font-family:libre_baskervilleitalic; font-size:12px; }
.msg-alert { font-family:baseninesmallcapsregular; font-size:12px; }
.msg-validation { font-family:libre_baskervilleitalic; font-size:12px; color:#f00; display:none; }

.popup {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    min-height: 100%;
    background-color: rgba(192,120,80,.90);
    display: none;
    color: #fff;
}