﻿{% extends '../layout/layout.html' %}

{% block title %} renseignements {% endblock%}


{% block styles %}

<style>
    /*.alcool-list { display:table; margin:0 auto;}*/
    .alcool {
        width: 128px;
        float: left;
    }

    .alcool .ill {
        width: 120px;
        height: 410px;
        border: 4px solid #000;
        margin-right: 20px;
        background: no-repeat center;
        background-size: cover;
    }

    .alcool p {
        text-align: center;
        padding-top: 15px;
    }
</style>

{% endblock %}


{% block body %}
<div class="wrapper">

    {% include './header/header.html' %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <p class="title-italic">Quel(s) alcool(s) de base souhaitez-vous pour vos cocktails ?</p>
            </div>
        </div>
        <br/><br/>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <p class="subtitle color-orange">
                    monsieur vivien vous prie de séléctionner <span id="span-nb-alcool-left">3</span> alcools qui
                    serviront de base pour vos cocktails !
                </p>
            </div>
        </div>
        <br/>

        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3">
                <!-- TODO move arrow for if classique or superieur -->
                <span class="baseninebold" style="padding-top:40%; padding-bottom:15px; float:right;"><img
                        src="/content/img/arrow.png"/>&nbsp;&nbsp;<span style="width:100px; display:inline-block;">classiques<br/>supérieurs</span></span>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7">
                <form id="form-alcool" method="post"
                      action="{{ 'sur_measure_l2_2_c'|route|replace(':category', params.category)|replace(':upgrade', params.upgrade)|replace(':nbdrinks', params.nbdrinks) }}">
                    <div class="alcool-list"></div>
                </form>
            </div>
        </div>
        <br/><br/>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                    <span>
                        <a href="{{ 'sur_measure_l2_2_b'|route|replace(':category', params.category)|replace(':upgrade', params.upgrade) }}">
                            <img id="btn-back" src="/content/img/arrow-back.png"/>
                        </a>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <input id="btn-ok" type="button" class="btn btn-std" value="je valide"/></span>
            </div>
        </div>

    </div>
    <br/><br/>

    <div class="footer">Monsieur Vivien vous informe que "l'abus d'alcool est dangereux pour la santé, consommez avec
        modération"
    </div>
</div>
{% endblock%}

{% block scripts %}
<script>

    var alcool_temp = '<div class="alcool">' +
            '<div class="ill" style="background-image:url(@IMG@);">' +
            '</div>' +
            '<p >' +
            '<span id="brand">@BRAND@</span><br />' +
            '<span class="libre_baskervilleitalic" ><span class="type">@TYPE@</span>&nbsp;<span class="pricelabel">@PRICE@</span></span><br/>' +
            '<input type="checkbox" name="alcool" id="@ALCOOLID@" value="@ALCOOLVALUE@" />' +
            '</p>' +
            '</div>';

    function Alcool(id, img, brand, type, price) {
        this.id = id;
        this.img = img;
        this.brand = brand;
        this.type = type;
        this.price = price;
    }

    var alcoolid_selected = 0;
    var alcool_list = [];
    var alcool_allowed = 3;
    var total = 0;
    var category = "{{ params.category }}";

    function nbChecked() {
        return $('input[name="alcool"]:checked').length;
    }

    function alcool_onclick() {
        var nbchecked = nbChecked();
        if (nbchecked > alcool_allowed) {
            $(this).attr('checked', false);
        } else {
            $("span#span-nb-alcool-left").text(alcool_allowed - nbchecked);
        }
    }

    function btn_ok_onclick() {
        var nbchecked = nbChecked();
        if (nbchecked > 0) {
            $('form#form-alcool').submit();
        }
    }

    $(document).ready(function () {

        PlatForm.getAlcoholByCategory(category, function (drinks) {
            drinks.forEach(function (drink) {
                alcool_list.push(drink);
            });

            for (var i = 0; i < alcool_list.length; i++) {
                var item = alcool_list[i];
                var tmp = alcool_temp;
                tmp = tmp.replace("@IMG@", item.img)
                        .replace("@BRAND@", item.brand)
                        .replace("@TYPE@", item.type)
                        .replace("@PRICE@", "+" + formattedPrice(item.Price.price) + " €")
                        .replace("@ALCOOLID@", "alcool-" + item.id)
                        .replace("@ALCOOLVALUE@", item.id);
                $(".alcool-list").append(tmp);
                $("span#span-nb-alcool-left").text(alcool_allowed);
            }
        });

        $('input[name="alcool"]').on("click", alcool_onclick);
        $("#btn-ok").on("click", btn_ok_onclick);
    });

    function initDummyData() {
        var item = new Alcool(0, "/content/img/alcooldebase/alcool.png", "GREY GOOSE", "Vodka", 999.99);
        alcool_list.push(item);
        item = new Alcool(1, "/content/img/alcooldebase/alcool.png", "GREY GOOSE", "Vodka", 999.99);
        alcool_list.push(item);
        item = new Alcool(2, "/content/img/alcooldebase/alcool.png", "GREY GOOSE", "Vodka", 999.99);
        alcool_list.push(item);
        item = new Alcool(3, "/content/img/alcooldebase/alcool.png", "GREY GOOSE", "Vodka", 999.99);
        alcool_list.push(item);
        item = new Alcool(4, "/content/img/alcooldebase/alcool.png", "GREY GOOSE", "Vodka", 999.99);
        alcool_list.push(item);
        item = new Alcool(5, "/content/img/alcooldebase/alcool.png", "GREY GOOSE", "Vodka", 999.99);
        alcool_list.push(item);
        item = new Alcool(6, "/content/img/alcooldebase/alcool.png", "GREY GOOSE", "Vodka", 999.99);
        alcool_list.push(item);
        item = new Alcool(7, "/content/img/alcooldebase/alcool.png", "GREY GOOSE", "Vodka", 999.99);
        alcool_list.push(item);

    }

</script>
{% endblock %}