﻿{% extends '../layout/layout.html' %}

{% block title %} Tutoriel {% endblock%}

{% block styles %}
<style>
    .wrapper { color:#fff; }
</style>
{% endblock %}

{% block body %}
<div class="wrapper background-orange">
    <div class="container">
        <div class="row baseninebold menu-nav">
            <div class="col-lg-12 col-md-12 col-sm-12" style="text-align:center;">
                <a href="{{ 'root'|route }}">
                    <img src="/content/img/menu-logo-white.png" />
                </a>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <p class="title" style="padding-top:150px;" id="title">
                    </p>
                </div>
            </div>
            <div class="row" style="padding-top:38px;">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <p class="libre_baskervilleitalic" style="text-align:center;" id="subtitle">
                    </p>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <p class="title" style="font-size:17px;text-align:center;padding-top: 32px;" id="">
                        <a href="mailto:contact@monsieurvivien.com">
                            contact@monsieurvivien.com
                        </a>
                    </p>
                </div>
            </div>
            <div class="row" style="padding-top:150px;">
                <div class="col-lg-12 col-md-12 col-sm-12" style="text-align:center;">
                    <!--<a id="next" href="">-->
                        <!--<input id="btn" type="button" class="btn btn-white" value="" />-->
                    <!--</a>-->
                </div>
            </div>
            <br />
        </div>
    </div>
</div>
{% endblock%}

{% block scripts %}
<script>
    var stage = '{{ stage }}';
    var message = {
        title: '{{ message.title }}',
        next: '{{ message.next }}'
    };
    var defaults = {
        dontunderstand: {
            title: "monsieur vivien ne comprends pas ce que vous attendez de lui ...",
            subtitle: "Peut être voulez-vous nous laisser un message ?",
            btnText: "COOL! J 'ai Hâte !",
            next: "#"
        }
    };

    $(document).ready(function() {
        if(message.title != "")
            $('p#title').text(message.title);
        else
            $('p#title').text(defaults[stage].title);

        if(message.title != "")
            $('a#next').attr('href', message.next);
        else
            $('a#next').attr('href', defaults[stage].next);

        $('p#subtitle').text(defaults[stage].subtitle);
        $('input#btn').val(defaults[stage].btnText);
    });
</script>
{% endblock %}