﻿{% extends '../layout/layout.html' %}

{% block title %} renseignements {% endblock%}

{% block styles %}
<style>
    .alcool-item.item-selected {
        color: green;
    }

    .alcool-item.item-added {
        color: green;
    }

    .alcool-item.item-added .icon-remove {
        text-decoration: none;
    }

    .icon-remove {
        color: darkred;
        margin-left: 4px;
        position: relative;
        top: 1px;
    }

</style>
{% endblock %}


{% block body %}
<div class="wrapper">

    {% include './header/header.html' %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <p class="title-italic">Monsieur Vivien vous propose selon vos choix</p>
            </div>
        </div>
        <br/><br/>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <p class="subtitle color-orange">
                    <!-- TODO what order ? -->
                    monsieur vivien vous rappelle qu'à cette étape vous devez donc selectionner<br/>
                    <span id="item-limit-classic">3</span> classiques,
                    <span id="item-limit-saison">1</span> saison,
                    <span id="item-limit-hard">1</span> hard et
                    <span id="item-limit-selection">2</span> selection.
                </p>
            </div>
        </div>
        <br/><br/><br/><br/>

        <div class="row">
            <div class="col-lg-offset-1 col-lg-2 col-md-2 col-sm-2">
                <div class="alcool-type-list">
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                <div class="alcool-item-list1">
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                <div class="alcool-item-list2">
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                <img class="ill-alcool" src="" style="width:260px; height:300px; border: 4px solid #000;"/>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                <div style="height:300px; position:relative;">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12r">
                            <span class="libre_baskervilleitalic" style="text-decoration:underline">Saveurs:</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                                <span class="saveurs libre_baskervilleitalic">
                                </span>
                        </div>
                    </div>
                    <br/>

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <span class="libre_baskervilleitalic" style="text-decoration:underline">Ingrédients:</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                                <span class="ingredients libre_baskervilleitalic">
                                </span>
                        </div>
                    </div>
                    <br/>
                    <input id="btn-add" type="button" class="btn btn-std" value="ajouter"
                           style="position:absolute; bottom:0px;"/>
                    <input id="btn-done" type="button" class="btn btn-std" value="c'est bon!"
                           style="cursor:pointer;position:absolute; bottom:-60px;left:-10px"/>
                </div>
            </div>
        </div>
    </div>
    <br/><br/>

    <form id="form-drinks"
          action="{{ 'sur_measure_l2_2_d'|route|replace(':category', params.category)|replace(':upgrade', params.upgrade)|replace(':nbdrinks', params.nbdrinks)|replace(':alcools', params.alcools) }}"
          method="post">
        <input id="input-drinks" name="drinks" type="hidden" value=""/>
    </form>

    <div class="footer">Monsieur Vivien vous informe que "l'abus d'alcool est dangereux pour la santé, consommez avec
        modération"
    </div>
</div>
{% endblock%}

{% block scripts %}
<script>

    var items_limit = {
        classic: 3,
        saison: 1,
        hard: 1,
        selection: 2
    };

    var item_type_mapping = {
        1: "classic",
        2: "saison",
        3: "hard",
        4: "selection"
    };

    var items_selected = {
        1: [], // classic
        2: [], // saison
        3: [], // hard
        4: [] // selection
    };

    var alcool_type_list = [];
    var alcool_item_list = [];

    function alcool_onclick() {
        alcoolid_selected = item.val();
    }

    function update_item_limits() {
        $('#item-limit-classic').text(items_limit["classic"] - items_selected[1].length);
        $('#item-limit-saison').text(items_limit["saison"] - items_selected[2].length);
        $('#item-limit-hard').text(items_limit["hard"] - items_selected[3].length);
        $('#item-limit-selection').text(items_limit["selection"] - items_selected[4].length);
    }

    function alcool_item_color_formatting() {
        $.each($('.alcool-item'), function () {
            var self = $(this);
            var data = self.data();
            if (items_selected[data.type].indexOf(data.id) != -1) {
                self.addClass("item-added").addClass("item-remove");
                self.find(".icon-remove").css("display", "inherit");
            }
        });
    }

    function alcool_type_onclick() {
        $(".alcool-item-list1").children().remove();
        $(".alcool-item-list2").children().remove();
        $(".saveurs").children().remove();
        $(".ingredients").children().remove();
        for (var i = 0; i < alcool_item_list.length; i++) {
            var item = alcool_item_list[i];
            if (item.type == $(this).attr("id")) {
                var tmp = alcool_item_tmp;
                tmp = tmp.replace("@ID@", item.id).replace("@NAME@", item.name)
                        .replace("@TYPE@", item.type);

                if (item.list === 1) {
                    $(".alcool-item-list1").append(tmp);
                }
                else {
                    $(".alcool-item-list2").append(tmp);
                }
            }
        }
        alcool_item_color_formatting();
    }

    function alcool_item_onclick(obj) {
        var self = $(obj);
        if (self.hasClass("item-selected")) {
            // already selected
            self.removeClass("item-selected");
        } else if (self.hasClass("item-added")) {
            // already added
            remove_item(obj);
        } else {
            // not selected
            $('.alcool-item.item-selected').removeClass("item-selected");
            self.addClass("item-selected");

            var item;
            for (var i = 0; i < alcool_item_list.length; i++) {
                var tmp = alcool_item_list[i];
                if (tmp.id === parseInt(self.attr("data-id"))) {
                    item = tmp;
                    break;
                }
            }
            $(".ill-alcool").attr("src", "/content/img/cocktails/" + item.img);
            $(".saveurs").html(item.saveur);
            $(".ingredients").html(item.description);

        }
    }

    function add_current_selected() {
        var selectedItem = $('.alcool-item.item-selected');
        if (selectedItem.length > 0) {
            var data = selectedItem.data();
            if (items_limit[item_type_mapping[data.type]] - items_selected[data.type].length > 0) {
                if (items_selected[data.type].indexOf(data.id) == -1) {
                    selectedItem.removeClass("item-selected");
                    selectedItem.addClass("item-added");
                    selectedItem.find(".icon-remove").css("display", "inherit");
                    items_selected[data.type].push(data.id);

                    update_item_limits();
                }
            }
        }
    }

    function remove_item(obj) {
        var self = $(obj);
        var data = self.data();
        self.removeClass("item-added");
        self.find(".icon-remove").css("display", "none");
        var index = items_selected[data.type].indexOf(data.id);
        items_selected[data.type].splice(index, 1);
        update_item_limits();
    }

    function btn_add_onclick() {
        add_current_selected();
    }

    function btn_done_onclick() {
        var drinkCategories = [1, 2, 3, 4];
        var drinks = [];
        drinkCategories.forEach(function (category) {
            items_selected[category].forEach(function (drinkID) {
                drinks.push(drinkID);
            });
        });

        var value = JSON.stringify(drinks);
        $('#input-drinks').val(value);
        $('#form-drinks').submit();

    }

    $(document).ready(function () {


        PlatForm.core
                // load drinks by category and alcoholsAllowed
                .post('/v/drink/by/category/and/alcool', {
                    category: "{{ params.category }}",
                    alcoholsAllowed: "{{ alcoholsAllowed }}"
                })
                .then(function (drinks) {
                    console.log("got drinks", drinks);

                    // append all drinks
                    drinks.forEach(function (drink) {
                        alcool_item_list.push(drink);
                    });

                    // get drink types
                    PlatForm.getFixedVariables("typeDrinks", function (typeAlcohos) {
                        typeAlcohos.forEach(function (typeAlcohol) {
                            alcool_type_list.push(typeAlcohol);
                        });

                        for (var i = 0; i < alcool_type_list.length; i++) {
                            var item = alcool_type_list[i];
                            var tmp = alcool_type_tmp;
                            tmp = tmp.replace("@ID@", item.id).replace("@DESC@", item.name);
                            $(".alcool-type-list").append(tmp);
                        }

                        $(".alcool-type").on("click", alcool_type_onclick);
                        $('input[name="alcool"]').on("click", alcool_onclick);
                        $("#btn-add").on("click", btn_add_onclick);
                        $("#btn-done").on("click", btn_done_onclick);

                        setTimeout(function () {
                            $(".alcool-type").first().click();
                            setTimeout(function () {
                                $(".alcool-item").first().click();
                            }, 100);
                        }, 100);
                        update_item_limits();
                    });
                });
    });

    var alcool_type_tmp = '<div class="row baseninebold">' +
            '<div class="col-lg-12 col-md-12 col-sm-12">' +
            '<span class="alcool-type" id="@ID@" style="cursor:pointer;">' +
            '<img src="/content/img/arrow.png" style="visibility:hidden" />&nbsp;' +
            '<span class="cocktail-name">@DESC@</span></span>' +
            '</div>' +
            '</div>';

    var alcool_item_tmp = '<div class="row baseninesmallcapsregular">' +
            '<div class="col-lg-12 col-md-12 col-sm-12">' +
            '<span class="alcool-item" data-id="@ID@" data-type="@TYPE@" onclick="alcool_item_onclick(this);" style="cursor:pointer;">' +
            '<span class="glyphicon glyphicon-play" style="visibility:hidden"></span>&nbsp;' +
            '<span class="cocktail-name">@NAME@</span>' +
            '<i class="fa fa-times icon-remove" style="display: none;"></i>' +
            '</span>';

</script>
{% endblock %}