﻿{% extends '../layout/layout.html' %}

{% block title %} Combien de cocktails {% endblock%}

{% block styles %}
{% endblock %}

{% block body %}
<div class="wrapper">

    {% include './header/header.html' %}

    <form action="{{ 'sur_measure_l2_2_b'|route|replace(':category', params.category)|replace(':upgrade', params.upgrade) }}"
          method="post">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <p class="title-italic">Combien de cocktails souhaitez-vous par personne ?</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <p class="subtitle-italic">Monsieur Vivien vous rappelle que le service dure 4 heures</p>
                </div>
            </div>
            <br/><br/><br/><br/><br/><br/>

            <div class="row">
                <div class="col-lg-offset-3 col-lg-3 col-md-3 col-sm-3 baseninesmallcapsregular">
                    <div class="radio">
                        <label class="radio-inline">
                            <input type="radio" name="nbdrinks" id="option1" value="1">&nbsp;1 cocktail /
                            personne
                        </label>
                    </div>
                    <div class="radio">
                        <label class="radio-inline">
                            <input type="radio" name="nbdrinks" id="option2" value="2" checked>&nbsp;2
                            cocktails / personne
                        </label>
                    </div>
                    <div class="radio">
                        <label class="radio-inline">
                            <input type="radio" name="nbdrinks" id="option3" value="3">&nbsp;3 cocktails /
                            personne
                        </label>
                    </div>
                    <div class="radio">
                        <label class="radio-inline">
                            <input type="radio" name="nbdrinks" id="option4" value="4">&nbsp;4 cocktails /
                            personne
                        </label>
                    </div>
                    <div class="radio">
                        <label class="radio-inline">
                            <input type="radio" name="nbdrinks" id="option5" value="5">&nbsp;5 cocktails /
                            personne
                        </label>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 baseninesmallcapsregular">
                    <div class="radio">
                        <label class="radio-inline">
                            <input type="radio" name="nbdrinks" id="option6" value="6">&nbsp;6 cocktails /
                            personne
                        </label>
                    </div>
                    <div class="radio">
                        <label class="radio-inline">
                            <input type="radio" name="nbdrinks" id="option7" value="7">&nbsp;7 cocktails /
                            personne
                        </label>
                    </div>
                    <div class="radio">
                        <label class="radio-inline">
                            <input type="radio" name="nbdrinks" id="option8" value="8">&nbsp;8 cocktails /
                            personne
                        </label>
                    </div>
                    <div class="radio">
                        <label class="radio-inline">
                            <input type="radio" name="nbdrinks" id="option9" value="9">&nbsp;9 cocktails /
                            personne
                        </label>
                    </div>
                    <div class="radio">
                        <label class="radio-inline">
                            <input type="radio" name="nbdrinks" id="option10" value="10">&nbsp;10
                            cocktails / personne
                        </label>
                    </div>
                </div>
            </div>
            <br/><br/><br/><br/>

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                    <p class="libre_baskervilleitalic"><span id="nbpers"></span> personnes x <span
                            id="nbcocktail"></span> cocktails</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                    <p class="baseninesmallcapsregular">total = <span class="totalcocktail"></span> cocktails&nbsp;<span
                            class="libre_baskervilleitalic pricelabel" id="price"></span></p>
                </div>
            </div>
            <br/><br/><br/>

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                    <p class="baseninesmallcapsregular color-orange">
                        Les <span class="totalcocktail"></span> verres que vous avez sélectionné vous donneront droit de
                        choisir<br/>
                        <!-- TODO decide values -->
                        3 cocktails classiques, 1 saison, 1 hard et 2 selections à l'étape suivante.
                    </p>
                </div>
            </div>
            <br/><br/><br/>

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                    <input id="btn-ok" type="submit" class="btn btn-std" value="je valide"/>
                </div>
            </div>
        </div>
    </form>

    <br/><br/>

    <div class="footer">Monsieur Vivien vous informe que "l'abus d'alcool est dangereux pour la santé, consommez avec
        modération"
    </div>
</div>

{% endblock%}

{% block scripts %}
<script>

    var total;
    var price;
    var nbpers;
    var nbcocktail;
    var category = "{{ params.category }}";

    function nbcocktail_onclick() {
        nbcocktail = $(this).val();
        $("#nbcocktail").html(nbcocktail);
        $(".totalcocktail").html(nbpers * nbcocktail);
        $("#price").html(formattedPrice(nbpers * nbcocktail * price) + " ttc");
    }

    $(document).ready(function () {

        PlatForm.getUserParty(function (Party) {
            nbpers = Party.Event.nbPeople;

            PlatForm.getModelBy("Category", {id: category}, function (r) {
                price = r[0].Price.price;

                $('input[name="nbdrinks"]').on("click", nbcocktail_onclick);
                $("#nbpers").html(nbpers);
                nbcocktail = parseInt($('input[name="nbdrinks"]:checked').val());
                $("#price").html(formattedPrice(nbpers * nbcocktail * price) + " ttc");
                $("#nbcocktail").html(nbcocktail);
                $(".totalcocktail").html(nbpers * nbcocktail);

            });
        });
    });
</script>
{% endblock %}