﻿{% extends '../layout/layout.html' %}

{% block title %} Combien de cocktails {% endblock%}

{% block styles %}
{% endblock %}

{% block body %}
<div class="wrapper">

    {% include './header/header.html' %}

    <form id="form-service" action="{{ 'sur_measure_l2_5'|route|replace(':category', params.category) }}" method="post">

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <p class="title-italic">Voulez-vous compléter votre service cocktail ?</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <p class="subtitle-italic">Vous pouvez à tout moment modifier le nombre de convives de votre
                        évènement dans la rubrique <span class="baseninebold">ma commande</span></p>
                </div>
            </div>
            <br/><br/>

            <div class="row">
                <div class="col-lg-offset-3 col-lg-2 col-md-2 col-sm-2">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <span class="libre_baskervilleitalic" style="font-size:16px;">Par un open bar</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 bar-list"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <p class="libre_baskervilleitalic" style="font-size:12px;">
                                <span style="text-decoration:underline;">A savoir:</span><br/>
                                l'option open bar est une option qui s'ajoute<br/>
                                à vos différents forfaits cocktails et si celle-ci<br/>
                                prend 4 heures, open bar survotre forfait<br/>
                                pendant toute la durée de l'évènement
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div style="border:4px solid #000; width:100%; height:200px; background: url('/content/img/openbar.jpg') no-repeat center;background-size:cover;"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <span class="libre_baskervilleitalic"
                                  style="font-size:16px;">Par une fontaine à cocktail</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 fontaine-list"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <p class="libre_baskervilleitalic" style="font-size:12px;">
                                <span style="text-decoration:underline;">A savoir:</span><br/>
                                Pour la remplir, vous pouvez sélectionnez le<br/>
                                cocktail de votre choix tant qu'il ne fait pas<br/>
                                parti de la catégorie hard. La verrerie est comprise.<br/>
                                Une caution de 100 euros vous sera demandée.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div style="border:4px solid #000; width:100%; height:200px; background: url('/content/img/fontaine.jpg') no-repeat center;background-size:cover;"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <span class="libre_baskervilleitalic" style="font-size:16px;">Par un verre XXL</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 verre-list"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <p class="libre_baskervilleitalic" style="font-size:12px;">
                                <span style="text-decoration:underline;">A savoir:</span><br/>
                                Le verre XXL, comprend 10 pailles XXL ainsi<br/>
                                que des glaçons big ice. Pour le remplir,<br/>
                                sélectionné le cocktail d votre choix (sauf hard).<br/>
                                (verre cassé = 50 euros)
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div style="border:4px solid #000; width:100%; height:200px; background: url('/content/img/verre.jpg') no-repeat center;background-size:cover;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <br/>

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                    <div class="radio">
                        <label class="baseninesmallcapsregular">
                            <input type="radio" name="optionsNO" id="optionsNO" value="NO" checked>
                            non, merci on va déjà boire ça !
                        </label>
                    </div>
                </div>
            </div>
            <br/><br/><br/>

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                    <span id="btn-back">
                        <a href="{{ 'sur_measure_l2_4'|route|replace(':category', params.category) }}">
                            <img src="/content/img/arrow-back.png"/>
                        </a>
                    </span>
                    <input id="btn-done" class="btn btn-std" type="button" value="je valide"
                           style="padding-left:30px; padding-right:30px;"/>
                </div>
            </div>
        </div>
    </form>
    <br/>
    <br/>

    <div class="footer">Monsieur Vivien vous informe que "l'abus d'alcool est dangereux pour la santé, consommez avec
        modération"
    </div>
</div>
{% endblock%}

{% block scripts %}
<script>

    var bar_tmp = '<div class="radio">' +
            '<label class="baseninesmallcapsregular">' +
            '<input type="radio" name="optbar" class="input-option" id="optbar-@ID@" data-type="bar" value="@VAL@">@DESC@&nbsp;<span class="libre_baskervilleitalic pricelabel">@PRICE@</span>' +
            '</label>' +
            '</div>';
    var fontaine_tmp = '<div class="radio">' +
            '<label class="baseninesmallcapsregular">' +
            '<input type="radio" name="optfontaine" class="input-option" data-type="fontaine" id="optfontaine-@ID@" value="@VAL@">@DESC@&nbsp;<span class="libre_baskervilleitalic pricelabel">@PRICE@</span>' +
            '</label>' +
            '</div>';
    var verre_tmp = '<div class="radio">' +
            '<label class="baseninesmallcapsregular">' +
            '<input type="radio" name="optverre" class="input-option" data-type="verre" id="optverre-@ID@" value="@VAL@">@DESC@&nbsp;<span class="libre_baskervilleitalic pricelabel">@PRICE@</span>' +
            '</label>' +
            '</div>';

    function Option(id, desc, price) {
        this.id = id;
        this.desc = desc;
        this.price = price;
    }

    var bar_list = [];
    var fontaine_list = [];
    var verre_list = [];
    var total = 0;
    var tmp, item;
    var selected_input = {
        type: null,
        input: null
    };

    function on_input_change() {
        $('input[name="optionsNO"]').attr('checked', false);
    }

    function on_input_no_change() {
        $('input:checked:not(input[name="optionsNO"])').attr('checked', false);
    }

    function btn_done_onclick() {
        var self = $('input:checked:not(input[name="optionsNO"])');
        if (self.length == 0) {
            $('input[name="optionsNo"]').attr('checked', true);
        }

        $('#form-service').submit();
    }

    $(document).ready(function () {
        PlatForm.getFixedVariables("service_bar", function (bars) {
            bars.forEach(function (bar) {
                bar_list.push(bar);
            });
            PlatForm.getFixedVariables("service_fontaine", function (fontaines) {
                fontaines.forEach(function (fontaine) {
                    fontaine_list.push(fontaine);
                });
                PlatForm.getFixedVariables("service_glass", function (glasses) {
                    glasses.forEach(function (glass) {
                        verre_list.push(glass);
                    });

                    for (var i = 0; i < bar_list.length; i++) {
                        item = bar_list[i];
                        tmp = bar_tmp;
                        tmp = tmp.replace("@ID@", item.id).replace("@VAL@", item.id)
                                .replace("@DESC@", item.description).replace("@PRICE@", "+" + formattedPrice(item.Price.price) + " €");
                        $(".bar-list").append(tmp);
                    }
                    for (i = 0; i < fontaine_list.length; i++) {
                        item = fontaine_list[i];
                        tmp = fontaine_tmp;
                        tmp = tmp.replace("@ID@", item.id).replace("@VAL@", item.id)
                                .replace("@DESC@", item.description).replace("@PRICE@", "+" + formattedPrice(item.Price.price) + " €");
                        $(".fontaine-list").append(tmp);
                    }
                    for (i = 0; i < verre_list.length; i++) {
                        item = verre_list[i];
                        tmp = verre_tmp;
                        tmp = tmp.replace("@ID@", item.id).replace("@VAL@", item.id)
                                .replace("@DESC@", item.description).replace("@PRICE@", "+" + formattedPrice(item.Price.price) + " €");
                        $(".verre-list").append(tmp);
                    }

                    // on input change
                    $('.input-option').change(on_input_change);
                    $('input[name="optionsNO"]').change(on_input_no_change);
                    $("#btn-done").on("click", btn_done_onclick);

                });
            });
        });

    });
</script>

{% endblock %}