﻿{% extends '../layout/layout.html' %}

{% block title %} compléter service {% endblock%}

{% block styles %}
{% endblock %}

{% block body %}
<div class="wrapper">

    {% include './header/header.html' %}

    <form id="form-service" action="{{ 'sur_measure_l5_5'|route }}" method="post">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <p class="title-italic">Souhaitez vous compléter votre service ?</p>
                </div>
            </div>
            <br/><br/>

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <p class="subtitle color-orange">
                        monsieur vivien vous informe que ces différents services peuvent être cumulés !
                    </p>
                </div>
            </div>
            <br/><br/><br/><br/>

            <div class="row">
                <div class="col-lg-offset-2 col-lg-3 col-md-3 col-sm-3">
                    <div class="list1">
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="list2">
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="list3">
                    </div>
                </div>
            </div>
            <br/><br/><br/><br/><br/><br/>

            <div class="row">
                <div class="col-lg-offset-2 col-lg-3 col-md-3 col-sm-3">
                    <p class="libre_baskervilleitalic" style="font-size:8px;">
                        * prix minimums indiqué valable uniquement en cumul.<br/>
                        Exemple: 1 service cocktail à 89 € + 1 service softs à 49,90 €
                    </p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="radio">
                        <label>
                            <input type="checkbox" name="noservice" id="noservice" value="noservice"/>&nbsp;<label
                                class="baseninesmallcapsregular" style="padding-left:0px;">non, merci monsieur vivien</label>
                        </label>
                    </div>
                </div>
            </div>
            <br/><br/><br/><br/>

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                    <span>
                        <a href="{{ 'sur_measure_l1_5'|route }}">
                            <img id="btn-back" src="/content/img/arrow-back.png"/>&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
    
                        <input id="btn-ok" type="button" class="btn btn-std" value="je valide"/>
                    </span>
                </div>
            </div>
        </div>
    </form>
    <br/><br/>

    <div class="footer">Monsieur Vivien vous informe que "l'abus d'alcool est dangereux pour la santé, consommez avec
        modération"
    </div>
</div>
{% endblock%}

{% block scripts %}
<script>
    function initDummyData() {

        item = new Item(1, "location de verres", 98, "Mojito, Cosmopolitain, Long Island, etc.", 'Location verrerie "basic", les ingrédients nécessaires à la réalisation, set de condiments, la décoration des verres "basic", les pailles, les touilleurs, les petites serviettes et les glaçons');
        list1.push(item);
        item = new Item(2, "location de matériel", 79, "Brut, Rosé, Blancs de blancs, Cuvée spéciale, etc.", 'Location verrerie "basic", les ingrédients nécessaires à la réalisation, set de condiments, la décoration des verres "basic"');
        list2.push(item);
        item = new Item(3, "achat de glaçons", 59, "Vodka Redbull&reg;, Gin Tonic;, Wishky Coca-Cola&reg;, etc.", 'Location verrerie "basic", les ingrédients nécessaires à la réalisation, set de condiments, les pailles, les touilleurs, les petites serviettes et les glaçons');
        list3.push(item);
    }

    var theme_item = '<div class="radio">' +
            '<label>' +
            '<input type="checkbox" name="choixservice" id="@BOISSONID@" value="@BOISSONVALUE@"><span class="baseninesmallcapsregular">&nbsp;@BOISSON@&nbsp;</span><span class="libre_baskervilleitalic pricelabel">à partir de @PRICE@</span><br />' +
            '<span class="baseninebold" style="padding-left:5px; font-size:12px;">@COMPOSITION@</span>' +
            '<p class="libre_baskervilleitalic" style="padding-left:5px; font-size:12px;">@DESCRIPTION@</p>' +
            '</label>' +
            '</div>';
    function Item(id, boisson, price, comp, desc) {
        this.id = id;
        this.boisson = boisson;
        this.price = price;
        this.comp = comp;
        this.desc = desc;
    }
    var list1 = [];
    var list2 = [];
    var list3 = [];
    var total = 0;
    var item, i, tmp;

    function btn_ok_onclick() {
        var form = $('#form-service');
        if($('input[name="noservice"]:checked').length != 0){
            // no item
            form.submit();
        } else {
            if($('input[name="choixservice"]:checked').length > 0){
                form.submit();
            }
        }
    }

    $(document).ready(function () {
        initDummyData();
        for (i = 0; i < list1.length; i++) {
            item = list1[i];
            tmp = theme_item;
            tmp = tmp.replace("@BOISSONID@", "theme-" + item.id).replace("@BOISSONVALUE@", item.id).replace("@BOISSON@", item.boisson).replace("@PRICE@", formattedPrice(item.price) + " € ttc*").replace("@COMPOSITION@", item.comp).replace("@DESCRIPTION@", item.desc);
            $(".list1").append(tmp);
        }
        for (i = 0; i < list2.length; i++) {
            item = list2[i];
            tmp = theme_item;
            tmp = tmp.replace("@BOISSONID@", "theme-" + item.id).replace("@BOISSONVALUE@", item.id).replace("@BOISSON@", item.boisson).replace("@PRICE@", formattedPrice(item.price) + " € ttc*").replace("@COMPOSITION@", item.comp).replace("@DESCRIPTION@", item.desc);
            $(".list2").append(tmp);
        }
        for (i = 0; i < list3.length; i++) {
            item = list3[i];
            tmp = theme_item;
            tmp = tmp.replace("@BOISSONID@", "theme-" + item.id).replace("@BOISSONVALUE@", item.id).replace("@BOISSON@", item.boisson).replace("@PRICE@", formattedPrice(item.price) + " € ttc*").replace("@COMPOSITION@", item.comp).replace("@DESCRIPTION@", item.desc);
            $(".list3").append(tmp);
        }

        $("#btn-ok").on("click", btn_ok_onclick);
    });
</script>
{% endblock %}