﻿{% extends '../layout/layout.html' %}

{% block title %}Contacter Monsieur Vivien{% endblock%}

{% block styles %}
{% endblock %}

{% block body %}
<div class="wrapper">

    {% include './header/header.html' %}

    <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <p class="title-italic">Contacter Monsieur Vivien</p>
                </div>
            </div>
            <br /><br />
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="row">
                        <div class="col-lg-offset-6 col-lg-6 col-md-6 col-sm-6">
                            <p class="libre_baskervilleitalic">
                                La boutique de Monsieur Vivien , lieu<br />
                                intime à moitié caché, vous permettra de<br />
                                composer vos formules sur place, de venir<br />
                                déguster nos cocktails ou encore de pouvoir<br />
                                venir observer notre bar révolutionnaire.<br />
                                <br />
                                Pour les professionnels, notre service de<br />
                                remplacement de barman est possible<br />
                                entre 11h et 1h (sous réserver de<br />
                                personne encore en ligne).<br />
                            </p>
                            <br />
                            <p class="libre_baskervilleitalic">
                                Les horaires de service de Monsieur vivien<br />
                                <span class="baseninesmallcapsregular">L</span>&nbsp;&nbsp;10h00&nbsp;-&nbsp;19h30<br />
                                <span class="baseninesmallcapsregular">M</span>&nbsp;&nbsp;10h00&nbsp;-&nbsp;19h30<br />
                                <span class="baseninesmallcapsregular">M</span>&nbsp;&nbsp;10h00&nbsp;-&nbsp;19h30<br />
                                <span class="baseninesmallcapsregular">J</span>&nbsp;&nbsp;10h00&nbsp;-&nbsp;19h30<br />
                                <span class="baseninesmallcapsregular">V</span>&nbsp;&nbsp;10h00&nbsp;-&nbsp;19h30<br />
                                <span class="baseninesmallcapsregular">S</span>&nbsp;&nbsp;10h00&nbsp;-&nbsp;19h30<br />
                                <span class="baseninesmallcapsregular">D</span>&nbsp;&nbsp;Monsieur Vivien se repose !
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 text-center">
                    <img class="ill-animation" src="/content/img/contact.jpg" style="width:100%; height:400px; border: 4px solid #000;" />
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <p class="baseninesmallcapsregular">
                                <span class="libre_baskervilleitalic">La boutique de Monsieur Vivien</span><br />
                                96, avenue mozart<br />
                                75016 paris<br />
                                france<br />
                                <br />
                                + 33 (0) 1 41 10 84 99
                            </p>
                            <br /><br /><br /><br /><br />
                            <p class="libre_baskervilleitalic">
                                Les horaires de service de Monsieur vivien<br />
                                <span class="baseninesmallcapsregular">L</span>&nbsp;&nbsp;10h00&nbsp;-&nbsp;19h30<br />
                                <span class="baseninesmallcapsregular">M</span>&nbsp;&nbsp;10h00&nbsp;-&nbsp;19h30<br />
                                <span class="baseninesmallcapsregular">M</span>&nbsp;&nbsp;10h00&nbsp;-&nbsp;19h30<br />
                                <span class="baseninesmallcapsregular">J</span>&nbsp;&nbsp;10h00&nbsp;-&nbsp;19h30<br />
                                <span class="baseninesmallcapsregular">V</span>&nbsp;&nbsp;10h00&nbsp;-&nbsp;19h30<br />
                                <span class="baseninesmallcapsregular">S</span>&nbsp;&nbsp;10h00&nbsp;-&nbsp;19h30<br />
                                <span class="baseninesmallcapsregular">D</span>&nbsp;&nbsp;Monsieur Vivien se repose !
                                <br />
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br /><br /><br /><br /><br /><br /><br />
        <div class="row baseninebold" style="position:absolute; bottom:50px; font-size:20px; width:100%;">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="baseninebold" style="float:left; padding-left:10%;">
                    <span id="btn-instagram" style="cursor:pointer;">instagram</span><br />
                    <span id="btn-facebook" style="cursor:pointer;">facebook</span><br />
                    <span id="btn-twitter" style="cursor:pointer;">twitter</span>
                </div>
                <div class="baseninebold" style="float:right; padding-right:10%; text-align:right;">
                    <br />
                    <span id="btn-contact" style="cursor:pointer;">contact</span><br />
                    <span id="btn-about" style="cursor:pointer;">à propos</span>
                </div>
            </div>
        </div>
        <div class="footer">Monsieur Vivien vous informe que "l'abus d'alcool est dangereux pour la santé, consommez avec modération"</div>
    </div>
{% endblock%}

{% block scripts %}
<script>
    function initDummyData() {
        total = 4561;
    }

    var total = 0;

    function btn_menu_onclick() { }
    function btn_help_onclick() { }
    function btn_instagram_onclick() { }
    function btn_facebook_onclick() { }
    function btn_twitter_onclick() { }
    function btn_contact_onclick() { }
    function btn_about_onclick() { }
    
    $(document).ready(function () {
        initDummyData();
        $(".menu-nav").find(".total").html(formattedPrice(total) + " €");

        $("#btn-menu").on("click", btn_menu_onclick);
        $("#btn-help").on("click", btn_help_onclick);
        $("#btn-instagram").on("click", btn_instagram_onclick);
        $("#btn-facebook").on("click", btn_facebook_onclick);
        $("#btn-twitter").on("click", btn_twitter_onclick);
        $("#btn-contact").on("click", btn_contact_onclick);
        $("#btn-about").on("click", btn_about_onclick);
    });
</script>
{% endblock %}