﻿{% extends '../layout/layout.html' %}

{% block title %}Combien de convives{% endblock%}

{% block styles %}
{% endblock %}

{% block body %}
    <div class="wrapper">

        {% include './header/header.html' %}

        <form action="{{ 'sur_measure_l1_1'|route }}" method="post">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <p class="title-italic" >Combien de convives prévoyes-vous ?</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <p class="subtitle-italic">Vous pouvez à tout moment modifier le nombre de convives de votre évènement dans la rubrique <span class="baseninebold">ma commande</span></p>
                    </div>
                </div>
                <br /><br /><br /><br />
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3"></div>
                    <div class="col-lg-4 col-md-4 col-sm-4 baseninesmallcapsregular">
                        <div class="radio">
                            <label class="radio-inline">
                                <input type="radio" name="nbconviveRadioOptions" value="10" required>&nbsp;01 - 10 personnes
                            </label>
                        </div>
                        <div class="radio">
                            <label class="radio-inline">
                                <input type="radio" name="nbconviveRadioOptions" value="20">&nbsp;10 - 20 personnes
                            </label>
                        </div>
                        <div class="radio">
                            <label class="radio-inline">
                                <input type="radio" name="nbconviveRadioOptions" value="30">&nbsp;20 - 30 personnes
                            </label>
                        </div>
                        <div class="radio">
                            <label class="radio-inline">
                                <input type="radio" name="nbconviveRadioOptions" value="40">&nbsp;30 - 40 personnes
                            </label>
                        </div>
                        <div class="radio">
                            <label class="radio-inline">
                                <input type="radio" name="nbconviveRadioOptions" value="50">&nbsp;40 - 50 personnes
                            </label>
                        </div>
                        <div class="radio">
                            <label class="radio-inline">
                                <input type="radio" name="nbconviveRadioOptions" value="60">&nbsp;50 - 60 personnes
                            </label>
                        </div>
                        <div class="radio">
                            <label class="radio-inline">
                                <input type="radio" name="nbconviveRadioOptions" value="70">&nbsp;60 - 70 personnes
                            </label>
                        </div>
                        <div class="radio">
                            <label class="radio-inline">
                                <input type="radio" name="nbconviveRadioOptions" value="80">&nbsp;70 - 80 personnes
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 baseninesmallcapsregular">
                        <div class="radio">
                            <label class="radio-inline">
                                <input type="radio" name="nbconviveRadioOptions" value="90">&nbsp;80 - 90 personnes
                            </label>
                        </div>
                        <div class="radio">
                            <label class="radio-inline">
                                <input type="radio" name="nbconviveRadioOptions" value="100">&nbsp;90 - 100 personnes
                            </label>
                        </div>
                        <div class="radio">
                            <label class="radio-inline">
                                <input type="radio" name="nbconviveRadioOptions" value="-125">&nbsp;100 - 125 personnes
                            </label>
                        </div>
                        <div class="radio">
                            <label class="radio-inline">
                                <input type="radio" name="nbconviveRadioOptions" value="-150">&nbsp;125 - 150 personnes
                            </label>
                        </div>
                        <div class="radio">
                            <label class="radio-inline">
                                <input type="radio" name="nbconviveRadioOptions" value="200">&nbsp;150 - 200 personnes
                            </label>
                        </div>
                        <br />
                        <div class="radio">
                            <label class="radio-inline">
                                <input type="radio" name="nbconviveRadioOptions"  value="201">&nbsp;&ge;200 personnes<br />
                                <input class="libre_baskervilleitalic" style="width:300px; border:0;" type="text" value="veuillez indiquer un nombre de personnes" />
                            </label>
                        </div>
                    </div>
                </div>

                <br /><br /><br /><br />
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                        <input id="btn-ok" type="submit" class="btn btn-std" value="je valide" />
                    </div>
                </div>
            </div>
        </form>

        <br /><br />
        <div class="footer">Monsieur Vivien vous informe que "l'abus d'alcool est dangereux pour la santé, consommez avec modération"</div>
    </div>
{% endblock%}

{% block scripts %}
<script>

    function btn_menu_onclick() { }
    function btn_help_onclick() { }
    function btn_ok_onclick() { }

    $(document).ready(function () {
        PlatForm.getUserParty(function (Party) {
            $('input[value="'+ Party.Event.nbPeople +'"]').attr("checked", true);
        });

        $("#btn-menu").on("click", btn_menu_onclick);
        $("#btn-help").on("click", btn_help_onclick);
        $("#btn-ok").on("click", btn_ok_onclick);
    });
</script>
{% endblock %}