﻿{% extends '../layout/layout.html' %}

{% block title %} décoration {% endblock%}

{% block styles %}
{% endblock %}

{% block body %}
<div class="wrapper">

    {% include './header/header.html' %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <p class="title-italic">Souhaitez-vous une décoration classique ou supérieure ?</p>
            </div>
        </div>
        <br/>

        <div class="row">
            <div class="col-lg-offset-4 col-lg-2 col-md-2 col-sm-2">
                <div style="height:auto; width:100%; float:right; text-align:center;">
                    <div class="row" style="padding:15px 0px;">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div style="background-image:url('/content/img/824bdca281e3e16a6551e245783af755.jpg'); background-size:cover; border:4px solid #000; width:100%; height:400px; background-position:center; background-repeat:no-repeat;"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input id="btn-classique" class="btn btn-std btn-upgrade" value="décoration classique"
                                   data-upgrade="0" style="width:100%;" readonly/>
                        </div>
                    </div>
                    <div class="row" style="padding-top:15px;">
                        <div class="libre_baskervilleitalic col-lg-12 col-md-12 col-sm-12">
                            <p>
                                Déjà comprise de base dans votre formule
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                <div style="height:auto; width:100%; float:right; text-align:center;">
                    <div class="row" style="padding:15px 0px;">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div style="background-image:url('/content/img/42d0842fbda2edda67e7ffd0ea9fe42c_1.jpg'); background-size:cover; border:4px solid #000; width:100%; height:400px; background-position:center; background-repeat:no-repeat;"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input id="btn-superieure" class="btn btn-std btn-upgrade" value="décoration supérieure"
                                   data-upgrade="1" style="width:100%;" readonly/>
                        </div>
                    </div>
                    <div class="row" style="padding-top:15px;">
                        <div class="libre_baskervilleitalic col-lg-12 col-md-12 col-sm-12">
                            <p>
                                à partir de <span id="superieure"></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        console.log("{{ 'sur_measure_l2_2_a'|route|replace(':category', params.category) }}");
    </script>
    <form id="form-upgrade" action="{{ 'sur_measure_l2_2_a'|route|replace(':category', params.category) }}" method="post">
        <input type="hidden" value="0" name="upgrade" id="input-upgrade" />
    </form>

    <br/>
    <br/>

    <div class="footer">Monsieur Vivien vous informe que "l'abus d'alcool est dangereux pour la santé, consommez avec
        modération"
    </div>
</div>
{% endblock%}

{% block scripts %}
<script>
    function initDummyData() {
        total = 99798.9;
        superieure = 12;
    }

    var total = 0;
    var superieure = 0;

    function btn_menu_onclick() {
    }
    function btn_help_onclick() {
    }
    function btn_upgrade_onclick() {
        var upgrade = $(this).data().upgrade;
        $('#input-upgrade').val(upgrade);
        $('#form-upgrade').submit();
    }

    $(document).ready(function () {
        initDummyData();

        var tmp = formattedPrice(total);
        $(".menu-nav").find(".total").html(tmp + " €");

        $("#superieure").html(formattedPrice(superieure) + "€ ttc");

        $("#btn-menu").on("click", btn_menu_onclick);
        $("#btn-help").on("click", btn_help_onclick);
        $(".btn-upgrade").on("click", btn_upgrade_onclick);
    });
</script>
{% endblock %}