﻿{% extends '../layout/layout.html' %}

{% block title %}{% endblock%}

{% block styles %}

<style>
    .arrow {
        visibility: hidden;
        vertical-align: initial;
    }

    .formule .name {
        font-size: 20px;
    }

    .formule .price {
        font-size: 12px;
        vertical-align: top;
    }

    .details .prestation .description {
        float: left;
        font-size: 16px;
    }

    .details .prestation .price {
        float: right;
        font-size: 16px;
    }

    .details .prestation-group .description {
        float: left;
        font-size: 16px;
        /*text-decoration: underline*/
    }

    .details .prestation-group .price {
        float: right;
        font-size: 16px;
        /*text-decoration: underline*/
    }
</style>
<script src="/content/js/jquery-1.11.3.js"></script>
<script src="/content/js/helper.js"></script>
{% endblock %}

{% block body %}
<div class="wrapper">

    {% include './header/header.html' %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <p class="title-italic">Les formules de Monsieur Vivien</p>
            </div>
        </div>
        <br/><br/>
        <div class="col-lg-offset-1 col-lg-3 col-md-3 col-sm-3 baseninebold">
            <div class="row">
                <div class="formule col-lg-12 col-md-12 col-sm-12">
                    <img class="arrow" src="/content/img/arrow.png"/>&nbsp;
                    <span class="title"></span>
                    <span class="price libre_baskervilleitalic"></span>
                </div>
            </div>
            <div class="formule-all"></div>
        </div>
        <div class="details col-lg-7 col-md-7 col-sm-7">
            <div class="row baseninebold">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <span class="description" style="float:left; font-size:16px;">Détail de la préstation</span>
                    <span class="price" style="float:right; font-size:16px;">Prix</span>
                </div>
            </div>
            <br/>
            <div class="prestation-list"></div>
            <br/>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <span class="formuletotal baseninebold" style="float:right;  font-size:20px;"><span class="baseninebold"
                                                                                                 style="padding-right:100px;">Total</span><span
                            class="value libre_baskervilleitalic" style="text-decoration:underline;"></span></span>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div style="float:right;">
                        <!--<input id="btn-voir" type="button" class="btn btn-std" style="margin-right:10px; margin-bottom:10px; width:240px;" value="Voir le bar !" />-->
                        <input id="btn-ok" type="button" class="btn btn-std" value="Je choisis cette formule"
                               style=" margin-bottom:10px;"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/><br/>
    <div class="footer">Monsieur Vivien vous informe que "l'abus d'alcool est dangereux pour la santé, consommez avec
        modération"
    </div>
</div>
{% endblock%}

{% block scripts %}
<script>
    var total;
    var prestation_list = [];
    var formule_list = [];
    var formule_selected;
    total = 0;
    formule_selected = parseInt("{{ id }}");
    var formuleDetailPath = "{{ 'formule_details'|route }}"
    var formuleChoosePath = "{{ 'formule_choose'|route }}"

    var formule_tmp = '<a href="@HREF@" style="color: inherit"><div class="row baseninebold">' +
            '<div class="formule @COLOR@ col-lg-12 col-md-12 col-sm-12" id="formule-@ID@">' +
            '<img class="arrow" src="/content/img/arrow.png" />&nbsp;' +
            '<span class="name">@NAME@</span>&nbsp;' +
            '<span class="pricelabel">@PRICE@</span>' +
            '</div>' +
            '</div></a>';

    var pricetype0 = '<div class="row libre_baskervilleitalic prestation">' +
            '<div class="col-lg-12 col-md-12 col-sm-12">' +
            '<span class="description">@DESC@</span>' +
            '<span class="price">@PRICE@ €</span>' +
            '</div>' +
            '</div>';

    var pricetype1 = '<div class="row libre_baskervilleitalic prestation-group">' +
            '<div class="col-lg-12 col-md-12 col-sm-12">' +
            '<span class="description">@DESC@</span>' +
            '<span class="price">@PRICE@ €</span>' +
            '</div>' +
            '</div>';

    /*
     cat => 0 : basique, 1 : moissaison, 2 : speciale
     col => 0 : black, 1 : green, 2 : blue
     */
    function formule(id, name, price, cat, col) {
        this.id = id;
        this.name = name;
        this.price = price;
        this.cat = cat;
        this.col = col;
    }

    /*
     type => 0 : no underline text, 1 : underline text
     */
    function prestation(desc, price, type) {
        this.description = desc;
        this.price = price;
        this.type = type;
    }

    function btn_menu_onclick() {
    }
    function btn_help_onclick() {
    }
    function btn_voir_onclick() {
    }
    function btn_ok_onclick() {
        console.log("choose!")
        window.location = formuleChoosePath.replace(':ID', formule_selected)
    }

    var tmp, item, col, i
    $(document).ready(function () {
        PlatForm.core.get('/formule/all/')
                .then(function (formule_list) {
                    console.log("custom formules get", formule_list)
                    PlatForm.core.get('/formule/id/' + formule_selected)
                            .then(function (r) {
                                console.log(" for selected formule get", r)

                                for (i = 0; i < formule_list.length; i++) {
                                    item = formule_list[i];
                                    tmp = formule_tmp;
                                    tmp = tmp.replace("@ID@", item.id).replace("@NAME@", item.name)
                                            .replace("@PRICE@", item.price === null ? "À venir" : formattedPrice(item.price) + " €")
                                            .replace("@HREF@", formuleDetailPath.replace(':ID', item.id))
                                    col = (item.type === 0) ? "" : (item.type === 1) ? "color-green" : "color-blue";
                                    tmp = tmp.replace("@COLOR@", col);
                                    var l = ".formule-all";
                                    $(l).append(tmp);
                                }
                                for (i = 0; i < r.items.length; i++) {
                                    var item = r.items[i];
                                    var el = "";
                                    if (item.type === 0) {
                                        el = pricetype0;
                                    }
                                    else {
                                        el = pricetype1
                                    }
                                    el = el.replace("@DESC@", item.description);
                                    el = el.replace("@PRICE@", item.Price.price);
                                    $(".prestation-list").append(el)
                                }

                                $("#formule-" + formule_selected).find(".arrow").css({"visibility": "visible"})

                                tmp = formattedPrice(r.totalprice)
                                $(".formuletotal").html(tmp + " €");

                                $("#btn-menu").on("click", btn_menu_onclick);
                                $("#btn-help").on("click", btn_help_onclick);
                                $(".btn-voir").on("click", btn_voir_onclick);
                                $("#btn-ok").on("click", btn_ok_onclick);


                            })
                })
    })
</script>
