﻿{% extends '../layout/layout.html' %}

{% block title %}{% endblock%}

{% block styles %}

<style>
    .menu-nav { position:absolute; }
    .formule-title { display:block; width:100%; font-size:72px; text-align:center; }
    .formule-description { width:100%; text-align:center; font-size:22px; }
    .header-ma-commande{ color:#fff; }
</style>
{% endblock %}

{% block body %}
<div class="wrapper">

    {% include './header/header.html' %}

    <div class="row" style="position:absolute; min-height:100%; height:100%; width:100%; padding:0; margin:0px;">
        <div class="col-lg-6 col-md-6 col-sm-6" style="height:100%; padding:0; margin:0;">
            <div style="width:100%; height:100%; display:table;">
                <div style="display:table-cell; vertical-align:middle; width:100%; margin:0 auto; text-align:center;">
                    <span class="baseninebold formule-title">Les formules</span>
                    <br />
                    <p class="libre_baskervilleitalic formule-description" style="font-size:16px;">
                        Rapides à commander, simples et efficaces,<br />
                        elles permettent de vous organiser à la dernière minute !<br /><br />
                        Monsieur Vivien a préparé des formules déjà pensées pour vos évènements<br />
                        sur une base de 4 heures de service.
                    </p>
                    <br /><br />
                    <div style="text-align:center;">
                        <a href="{{ 'formule_list'|route }}">
                            <input id="btn-fast" type="button" class="btn btn-std" value="Je suis préssé(e), voir les formules" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="baseninebold" style="position:absolute; padding-left:10%; bottom:50px; font-size:20px;">
                <span id="btn-instagram" style="cursor:pointer;">instagram</span><br />
                <span id="btn-facebook" style="cursor:pointer;">facebook</span><br />
                <span id="btn-twitter" style="cursor:pointer;">twitter</span>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 background-orange" style="height:100%; color:#fff; padding:0; margin:0;">
            <div style="width:100%; height:100%; display:table;">
                <div style="display:table-cell; vertical-align:middle; width:100%; margin:0 auto; text-align:center;">
                    <span class="baseninebold formule-title">Sur-mesure</span>
                    <br />
                    <p class="libre_baskervilleitalic formule-description" style="font-size:16px;">
                        Completez et adaptez selon vos envies, ce service sur-mesure permet à<br />
                        Monsieur Vivien de vous créer une formule entièrement personalisée !<br /><br />
                        Ne vous inqietez pas, Monsieur Vivien vous accompagne dans l'élaboration<br />
                        de votre formule sous forme de questions/réponses simples et prévises !
                    </p>
                    <br /><br />
                    <div style="text-align:center;">
                        <a href="{{ 'sur_measure_l1_1'|route }}">
                            <input id="btn-slow" type="button" class="btn btn-white" value="J'ai le temps, Créer ma formule" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="baseninebold" style="position:absolute; right:0; bottom:50px; padding-right:10%; text-align:right; font-size:20px;">
                <span id="btn-contact" style="cursor:pointer;">contact</span><br />
                <span id="about" style="cursor:pointer;">à propos</span>
            </div>
        </div>
    </div>
    <div class="footer ">Monsieur Vivien vous informe que "l'abus d'alcool est dangereux pour la santé, consommez avec modération"</div>
</div>
{% endblock%}

{% block scripts %}
<script>

    function initDummyData() {
        total = 9999.99;
    }

    function btn_slow_onclick() { }
    function btn_menu_onclick() { }
    function btn_help_onclick() { }
    function btn_fast_onclick() { }
    function btn_instagram_onclick() { }
    function btn_facebook_onclick() { }
    function btn_twitter_onclick() { }
    function btn_contact_onclick() { }
    function btn_about_onclick() { }

    var total = 0.00;

    $(document).ready(function () {
        initDummyData();

        $("#btn-menu").on("click", btn_menu_onclick);
        $("#btn-help").on("click", btn_help_onclick);
        $("#btn-fast").on("click", btn_fast_onclick);
        $("#btn-slow").on("click", btn_slow_onclick);
        $("#btn-instagram").on("click", btn_instagram_onclick);
        $("#btn-facebook").on("click", btn_facebook_onclick);
        $("#btn-twitter").on("click", btn_twitter_onclick);
        $("#btn-contact").on("click", btn_contact_onclick);
        $("#btn-about").on("click", btn_about_onclick);
    });
</script>
{% endblock %}