﻿{% extends '../layout/layout.html' %}

{% block body %}
<div class="wrapper">
    <div class="container-fluid" style="position:absolute; height:100%; width:100%; padding:0; margin:0;">
        <div style="position:absolute; top:25%; width:100%; text-align:center; z-index:100;">
            <img style="margin:0 auto;" src="/content/img/logo-black.png"/>
        </div>
        <div style="position:absolute; height:100%; width:100%; padding:0; margin:0;">
            <div style="position:relative; float:left; width:50%; height:100%; display:inline-block;">
                <a href="{{ 'espace_particulier'|route }}">
                    <span class="libre_baskervilleitalic"
                          style="position:absolute; display:block; top:80%; width:100%; text-align:center; font-size:30px;">Espace Particuliers</span>
                </a>
            </div>
            <div class="background-orange"
                 style="position:relative; float:left; width:50%; height:100%; display:inline-block;">
                <a href="#">
                    <span class="libre_baskervilleitalic"
                          style="position:absolute; display:block; top:80%; width:100%; text-align:center; font-size:30px; color:#fff;">Espace Professionnels</span>
                </a>
            </div>
        </div>
    </div>
    <div class="baseninebold"
         style="position:absolute; top:55%; width:100%; text-align:center; font-size:15px; margin-left:-8px;">
        <span>votre barman sur-mesure</span>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    function particulier_onclick() {
    }
    function professionnel_onclick() {
    }

    $(document).ready(function () {
        $(".particulier").on("click", particulier_onclick);
        $(".professionnel").on("click", professionnel_onclick);
    });
</script>
{% endblock %}
