﻿{% extends '../layout/layout.html' %}

{% block title %}{% endblock%}

{% block styles %}
{% endblock %}

{% block body %}
    <div class="wrapper">

        {% include './header/header.html' %}

        <div class="container">
            <form action="{{ 'sur_measure_l1_5'|route }}" method="post">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <p class="title-italic">Souhaitez-vous une option bio pour votre événement ?</p>
                    </div>
                </div>
                <br /><br />
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <p class="baseninesmallcapsregular color-orange text-center" id="title-text">
                            quoi de mieux qu'un thème pour habiller vos soirées !<br />
                            harmonisez vos évènements et plongez vos convives dans une ambiance décalée.
                        </p>
                    </div>
                </div>
                <br /><br /><br /><br /><br /><br />
                <div class="row">
                    <div class="col-lg-offset-5 col-lg-3 col-md-3 col-sm-3">
                        <div class="radio baseninesmallcapsregular">
                            <label>
                                <input type="radio" name="choix" id="option2" value="1" required>&nbsp;oui, je veux mon option bio !
                            </label>
                        </div>
                        <div class="radio baseninesmallcapsregular">
                            <label>
                                <input type="radio" name="choix" id="option3" value="0">&nbsp;non, merci monsieur vivien
                            </label>
                        </div>
                    </div>
                </div>
                <br /><br /><br /><br />
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                        <span><img id="btn-back" src="/content/img/arrow-back.png" />&nbsp;&nbsp;&nbsp;&nbsp;<input id="btn-ok" type="submit" class="btn btn-std" value="je valide" /></span>
                    </div>
                </div>
            </form>
        </div>
        <br /><br />
        <div class="footer">Monsieur Vivien vous informe que "l'abus d'alcool est dangereux pour la santé, consommez avec modération"</div>
    </div>
{% endblock%}

{% block scripts %}
<script>
    function initDummyData() {
    }


    function btn_menu_onclick() { }
    function btn_help_onclick() { }
    function btn_back_onclick() { }
    function btn_ok_onclick() { }

    $(document).ready(function () {
        initDummyData();

        $("#btn-menu").on("click", btn_menu_onclick);
        $("#btn-help").on("click", btn_help_onclick);
        $("#btn-back").on("click", btn_back_onclick);
        $("#btn-ok").on("click", btn_ok_onclick);

        var titles = {
            default: "quoi de mieux qu'un thème pour habiller vos soirées !<br />harmonisez vos évènements et plongez vos convives dans une ambiance décalée.",
            1: "si vous sélectionnez notre option bio, tout les ingrédients qui composeront votre formule seront <br />bio (fruits, purée, jus et glaçons à l'eau de source) !"
        };

        PlatForm.getUserParty(function(Party) {
            var bio = '0';
            if(Party.Event.ifBio)
                bio = '1';

            $('input[value="'+ bio +'"][name="choix"]').attr('checked', true);
        });

        $('input[name="choix"]').change(function() {
            var value = $('input[name="choix"]:checked').val();

            if(value == '1'){
                $('#title-text').html(titles[1]);
            } else {
                $('#title-text').html(titles['default']);
            }

        });


    });


</script>
{% endblock %}