﻿{% extends '../layout/layout.html' %}

{% block title %} Animation {% endblock%}

{% block styles %}
<style>
    .name {
        font-size: 16px;
    }

    .Price.price {
        font-weight: bold;
        font-size: 40px;
        line-height: 80px;
    }
</style>
{% endblock %}

{% block body %}
<div class="wrapper parent">

    {% include './header/header.html' %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <p class="title-italic">Voulez-vous un bar pour votre évènement ?</p>
            </div>
        </div>
        <br/><br/>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <p class="subtitle-italic color-orange">
                    monsieur vivien n'impose pas d'avoir un bar pour une soirée.
                </p>
            </div>
        </div>
        <br/><br/>

        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="row">
                    <div class="col-lg-offset-6 col-lg-6 col-md-6 col-sm-6">
                        <span class="baseninesmallcapsregular">le bar de monsieur vivien</span>

                        <p class="libre_baskervilleitalic">
                            Novateur, modulable et personnalisable,<br/>
                            le bar de Monsieur vivien rentre dans la<br/>
                            majorité des ascenseurs parisiens.<br/>
                            <br/>
                            Professionnel, résistant, conviviale et<br/>
                            hygiénique. En cuivre, plexiglass blanc<br/>
                            et en bois massif, ce bar design et épuré<br/>
                            s'intègrera parfaitement dans votre intérieur.<br/>
                            <br/>
                            Installé chez vous pas nos soins, ce bar<br/>
                            est contenu dans une boite de 70cm de<br/>
                            profondeur, 55cm de large et 1m65 de<br/>
                            hauteur. Indépendant en eau, il peut<br/>
                            être raccordé à une arrivé d'eau et nécessite<br/>
                            une prise électrique. Ce bar breveté<br/>
                            peut être loué indépendament ou acheté<br/>
                            (contactez nous).
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 text-center">
                <img class="ill-animation" src="/content/img/bar.jpg"
                     style="width:100%; height:400px; border: 4px solid #000;"/>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="radio">
                            <label class="baseninesmallcapsregular">
                                <input type="radio" name="bar" id="option-1" value="1">
                                oui, je veux un bar ! <span style="vertical-align: top; font-size: 10px; top:5px;">+ 999,99 €</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="bar-options" style="display:none;">
                    <br/>

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <span class="libre_baskervilleitalic">Options supplémentaires</span>
                        </div>
                    </div>
                    <br/>

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 option-list">
                            <div class="radio"><label class="baseninesmallcapsregular">
                                <input type="checkbox" name="opt" id="opt-0" value="0" data-type="texture_au_choix">une
                                texture au choix&nbsp;<span class="libre_baskervilleitalic pricelabel">+ 999,99 €</span></label>
                            </div>
                            <div class="row option-textureauchoix" style="display:none;">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <input id="tb-textureauchoix" type="text" class="libre_baskervilleitalic"
                                           placeholder="veuillez saisir votre texture"
                                           style="width:260px; border:0px; text-align:center;"/><span
                                        id="btn-textureauchoix" class="baseninesmallcapsregular color-orange"
                                        style="border:0; cursor:pointer;">changer</span><br/>
                                </div>
                            </div>
                            <div class="radio"><label class="baseninesmallcapsregular">
                                <input type="checkbox" name="opt" id="opt-1" value="1" data-type="extension_bar_1">1
                                extension de bar&nbsp;<span class="libre_baskervilleitalic pricelabel">+ 999,99 €</span></label>
                            </div>
                            <div class="radio"><label class="baseninesmallcapsregular">
                                <input type="checkbox" name="opt" id="opt-2" value="2" data-type="extension_bar_2">2
                                extension de bar&nbsp;<span class="libre_baskervilleitalic pricelabel">+ 999,99 €</span></label>
                            </div>
                            <div class="radio"><label class="baseninesmallcapsregular">
                                <input type="checkbox" name="opt" id="opt-3" value="3" data-type="deux_bar">un
                                deuxième bar&nbsp;<span
                                    class="libre_baskervilleitalic pricelabel">+ 999,99 €</span></label></div>
                            <div class="radio"><label class="baseninesmallcapsregular">
                                <input type="checkbox" name="opt" id="opt-4" value="4" data-type="revetement_perso">un
                                revêtement personnalisé&nbsp;<span
                                    class="libre_baskervilleitalic pricelabel">+ 999,99 €</span></label></div>
                            <div class="row option-revetement-perso" style="display:none;">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <input id="tb-revetement-perso-texture" type="text" class="libre_baskervilleitalic"
                                           placeholder="veuillez saisir votre texture"
                                           style="width:260px; border:0px; text-align:center;"/><span
                                        id="btn-revetement-perso-texture" class="baseninesmallcapsregular color-orange"
                                        style="border:0; cursor:pointer;">changer</span><br/>
                                    <input id="tb-revetement-perso-couleur" type="text" class="libre_baskervilleitalic"
                                           placeholder="veuillez saisir votre couleur"
                                           style="width:260px; border:0px; text-align:center;"/><span
                                        id="btn-revetement-perso-couleur" class="baseninesmallcapsregular color-orange"
                                        style="border:0; cursor:pointer;">changer</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="radio">
                            <label class="baseninesmallcapsregular">
                                <input type="radio" name="bar" id="option-0" value="0">
                                non merci monsieur vivien
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <p class="libre_baskervilleitalic">
                            <span style="text-decoration:underline">A savoir:</span><br/>
                            Un espace d'au moins 1m50 devra être prévu pour<br/>
                            le barman.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <br/><br/><br/>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                <a href="{{ 'sur_measure_l3_1'|route }}">
                    <span id="btn-back"><img src="/content/img/arrow-back.png"/></span>
                </a>
                <input id="btn-ok" class="btn btn-std" type="button" value="je valide"
                       style="padding-left:30px; padding-right:30px;"/>
            </div>
        </div>
    </div>
    <br/><br/>

    <div class="footer">Monsieur Vivien vous informe que "l'abus d'alcool est dangereux pour la santé, consommez avec
        modération"
    </div>
</div>
<div class="popup"
     style="position:absolute; top:0px; left:0px; width:100%; min-height:100%; background-color:rgba(192,120,80,.90); display:none;">
    <div class="wrapper">
        <div class="row  menu-nav baseninebold">
            <div class="col-lg-1 col-md-1 col-sm-1"></div>
            <div class="col-lg-3 col-md-3 col-sm-3"></div>
            <div class="col-lg-4 col-md-4 col-sm-4" style="padding:0; margin:0px; text-align:center;">
                <img src="/content/img/menu-logo-white.png"/>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3"></div>
            <div class="col-lg-1 col-md-1 col-sm-1"><img id="btn-close-popup" src="/content/img/croix.png"
                                                         style="cursor:pointer;"/></div>
        </div>
        <br/><br/>

        <div class="container-fluid">
            <div class="popup-content revetement-perso-texture" style="display:none;">
                <div class="revetement-perso-texture-list" style="padding:0; margin:0; text-align: center;">
                </div>
            </div>
            <div class="popup-content revetement-perso-couleur" style="display:none;">
                <div class="revetement-perso-couleur-list" style="padding:0; margin:0; text-align: center;">
                </div>
            </div>
            <div class="popup-content textureauchoix" style="display:none;">
                <div class="textureauchoix-list" style="padding:0; margin:0; text-align: center;">
                </div>
            </div>
        </div>
    </div>
</div>
<form id="form-bar" action="{{ 'sur_measure_l4_1'|route }}" method="post">
    <input type="hidden" name="choix"/>
    <input type="hidden" name="options"/>
</form>
{% endblock%}

{% block scripts %}
<script>

    var item, tmp, i, j, row;

    //LE BAR
    var selected_revetement_perso_texture = -1;
    var selected_revetement_perso_couleur = -1;
    var revetement_texture_list = [];
    var revetement_couleur_list = [];
    function bar_onclick() {
        if (parseInt($(this).val()) === 0) {
            var lo = $('input[name="opt"]');

            for (i = 0; i < lo.length; i++) {
                $(lo[i]).removeAttr("checked");
            }
            $(".bar-options").hide();
            $(".option-revetement-perso").hide();
            current_opt = -1;
        }
        else {
            $(".bar-options").show();
        }
    }
    function opt_onclick() {
        $('input[name="bar"]#option-1').val(['1']);
        if (current_opt != parseInt($(this).val())) {
            current_opt = parseInt($(this).val());
            if (current_opt === 0) {
                $(".option-textureauchoix").show();
            }
            else {
                $(".option-textureauchoix").hide();
            }
            if (current_opt === 4) {
                $(".option-revetement-perso").show();
            }
            else {
                $(".option-revetement-perso").hide();
            }
        }
        else {

            var lo = $('input[name="opt"]');
            for (i = 0; i < lo.length; i++) {
                $(lo[i]).removeAttr("checked");
            }
            current_opt = -1;
        }
    }
    function btn_revetement_perso_texture_onclick() {
        open_popup(".parent", ".popup");
        $(".revetement-perso-texture").show();
        opened_popup = 0;
    }
    function btn_revetement_perso_couleur_onclick() {
        open_popup(".parent", ".popup");
        $(".revetement-perso-couleur").show();
        opened_popup = 1;
    }

    //textureauchoix
    var selected_textureauchoix = -1;
    var textureauchoix_list = [];
    function btn_textureauchoix_onclick() {
        open_popup(".parent", ".popup");
        $(".textureauchoix").show();
        opened_popup = 2;
    }

    //COMMON
    var row_start = '<div class="row" style="margin-top:10px;">' +
            '<div class="col-lg-12 col-md-12 col-sm-12 text-center">';
    var row_end = '</div>' +
            '</div>';
    //var option_tmp = '<div class="radio"><label class="baseninesmallcapsregular"><input type="radio" name="opt" id="opt-@ID@" value="@VAL@">@DESC@&nbsp;<span class="libre_baskervilleitalic pricelabel">+ 999,99 €</span></label></div>';
    var obj_tmp = '<div id="@ID@" class="box box-white" style="background-image:url(@BACKGROUND@); background-size:cover; ' +
            'background-position:center;" onclick="box_onclick(this);">' +
            '<div class="overlay-white" style="background-color:rgba(255,255,255,0.5); position:relative; top:0px; left:0px; padding:30px 0;">' +
            '<span class="name baseninebold">@NAME@</span><br /><br>' +
            '<span class="price libre_baskervilleitalic">@PRICE@</span>' +
            '</div>' +
            '</div>';

    var current_opt = -1;
    var total = 0;
    var opened_popup = -1; //0 : revetement_perso_texture, 1: revetement_perso_couleur, 2: textureauchoix
    var selected_item = -1;
    function btn_changer_onclick() {
    }
    function btn_back_onclick() {
    }
    function btn_close_popup_onclick() {
        tmp = -1;
        switch (opened_popup) {
            case 0:
                tmp = parseInt(selected_revetement_perso_texture);
                $("#tb-revetement-perso-texture").val(tmp === -1 ? "" : revetement_texture_list[tmp].name);
                $("#tb-revetement-perso-texture").attr('data-id', tmp === -1 ? "" : revetement_texture_list[tmp].id);
                break;
            case 1:
                tmp = parseInt(selected_revetement_perso_couleur);
                $("#tb-revetement-perso-couleur").val(tmp === -1 ? "" : revetement_couleur_list[tmp].name);
                $("#tb-revetement-perso-couleur").attr('data-id', tmp === -1 ? "" : revetement_couleur_list[tmp].id);
                break;
            case 2:
                tmp = parseInt(selected_textureauchoix);
                $("#tb-textureauchoix").val(tmp === -1 ? "" : textureauchoix_list[tmp].name);
                $("#tb-textureauchoix").attr('data-id', tmp === -1 ? "" : textureauchoix_list[tmp].id);
                break;
        }
        close_popup(".parent", ".popup");
        $(".popup-content").hide();
        opened_popup = -1;
    }
    function box_onclick(obj) {
        tmp = GetSelectedItem(opened_popup);
        if (tmp === $(obj).attr("id")) {
            $(obj).find(".overlay-white").css({opacity: 1});
            SetSelectedItem(opened_popup, -1);
        }
        else {
            $(".overlay-white").css({opacity: 1});
            $(obj).find(".overlay-white").css({opacity: 0});
            SetSelectedItem(opened_popup, $(obj).attr("id"));
        }
    }
    function SetSelectedItem(popup_id, item_id) {
        switch (popup_id) {
            case 0:
                selected_revetement_perso_texture = item_id;
                break;
            case 1:
                selected_revetement_perso_couleur = item_id;
                break;
            case 2:
                selected_textureauchoix = item_id;
                break;
        }
    }
    function GetSelectedItem(popup_id) {
        tmp = -1;
        switch (popup_id) {
            case 0:
                tmp = selected_revetement_perso_texture;
                break;
            case 1:
                tmp = selected_revetement_perso_couleur;
                break;
            case 2:
                tmp = selected_textureauchoix;
                break;
            default:
                tmp = -1;
                break;
        }
        return tmp;
    }

    function btn_ok_onclick() {
        var choix = $('input[name="bar"]:checked');
        var status = true;
        var Selected = {};
        if (choix.length > 0) {
            if (parseInt(choix.val()) != 0) {
                $('input[name="choix"]').val(true);

                var options = $('input[name="opt"]:checked');
                if (options.length > 0) {

                    $.each(options,
                            function () {
                                var self = $(this);
                                var data = self.data();
                                var options;
                                console.log(data);

                                if (data.type == "texture_au_choix") {
                                    options = {
                                        value: $("#tb-textureauchoix").val(),
                                        id: $("#tb-textureauchoix").data().id
                                    };
                                    if (options.id != undefined) {
                                        Selected['texture_au_choix'] = options;
                                    } else {
                                        status = false;
                                        errorMessage("texture_au_choix", "options not defined");
                                    }
                                    console.log(options);
                                } else if (data.type == "revetement_perso") {
                                    options = {
                                        texture: {
                                            value: $("#tb-revetement-perso-texture").val(),
                                            id: $("#tb-revetement-perso-texture").data().id
                                        },
                                        color: {
                                            value: $("#tb-revetement-perso-couleur").val(),
                                            id: $("#tb-revetement-perso-couleur").data().id
                                        }
                                    };

                                    if (options.texture.id != undefined)
                                        if (options.color.id != undefined) {
                                            Selected['revetement_perso'] = options;
                                        } else {
                                            status = false;
                                            errorMessage("revetement-color", "option not defined")
                                        }
                                    else {
                                        status = false;
                                        errorMessage("revetement-texture", "options not defined")
                                    }
                                    console.log(options);
                                } else if(data.type == "extension_bar_1"){
                                    Selected['extension_bar_1'] = true;
                                } else if(data.type == "extension_bar_2"){
                                    Selected['extension_bar_2'] = true;
                                } else if(data.type == "deux_bar"){
                                    Selected['deux_bar'] = true;
                                }
                            }
                    )
                    ;
                }
            } else {
                // no bar
                $('input[name="choix"]').val(false);
            }

            if (status) {
                $('input[name="options"]').val(JSON.stringify(Selected));
                $('#form-bar').submit();
            }
        }
    }

    function errorMessage(type, message) {
        console.error(type, message);
    }

    $(document).ready(function () {
        initData(function () {
            //REVETEMENT TEXTURE
            j = 0;
            for (i = 0; i < revetement_texture_list.length; i++) {
                item = revetement_texture_list[i];
                tmp = obj_tmp.replace("@ID@", item.id).replace("@NAME@", item.name).replace("@BACKGROUND@", item.img)
                        .replace("@PRICE@", item.Price.price === null ? "À venir" : formattedPrice(item.Price.price) + " €");
                if (j === 0) {
                    row = row_start;
                }
                row = row + tmp;
                if (j === 3) {
                    row = row + row_end;
                    j = 0;
                    $(".revetement-perso-texture-list").append(row);
                }
                else {
                    j++;
                }
            }
            //REVETEMENT COULEUR
            j = 0;
            for (i = 0; i < revetement_couleur_list.length; i++) {
                item = revetement_couleur_list[i];
                tmp = obj_tmp.replace("@ID@", item.id).replace("@NAME@", item.name).replace("@BACKGROUND@", item.img)
                        .replace("@PRICE@", item.Price.price === null ? "À venir" : formattedPrice(item.Price.price) + " €");
                if (j === 0) {
                    row = row_start;
                }
                row = row + tmp;
                if (j === 3) {
                    row = row + row_end;
                    j = 0;
                    $(".revetement-perso-couleur-list").append(row);
                }
                else {
                    j++;
                }
            }
            $("#btn-revetement-perso-texture").on("click", btn_revetement_perso_texture_onclick);
            $("#tb-revetement-perso-texture").on("click", btn_revetement_perso_texture_onclick);
            $("#btn-revetement-perso-couleur").on("click", btn_revetement_perso_couleur_onclick);
            $("#tb-revetement-perso-couleur").on("click", btn_revetement_perso_couleur_onclick);

            //TEXTURE AU CHOIX
            j = 0;
            for (i = 0; i < textureauchoix_list.length; i++) {
                item = textureauchoix_list[i];
                tmp = obj_tmp.replace("@ID@", item.id).replace("@NAME@", item.name).replace("@BACKGROUND@", item.img).replace("@PRICE@", item.Price.price === null ? "À venir" : formattedPrice(item.Price.price) + " €");
                if (j === 0) {
                    row = row_start;
                }
                row = row + tmp;
                if (j === 1) {
                    row = row + row_end;
                    j = 0;
                    $(".textureauchoix-list").append(row);
                }
                else {
                    j++;
                }
            }
            $("#btn-textureauchoix").on("click", btn_textureauchoix_onclick);
            $("#tb-textureauchoix").on("click", btn_textureauchoix_onclick);

            //COMMON
            $('input[name="bar"]').on("click", bar_onclick);
            $('input[name="opt"]').on("click", opt_onclick);
            $("#btn-changer").on("click", btn_changer_onclick);
            $("#btn-back").on("click", btn_back_onclick);
            $("#btn-ok").on("click", btn_ok_onclick);
            $("#btn-close-popup").on("click", btn_close_popup_onclick);
        });
    });

    function initData(next) {
        PlatForm.getFixedVariables("revetement_texture", function (textures) {
            textures.forEach(function (texture) {
                revetement_texture_list.push(texture);
            });

            PlatForm.getFixedVariables("revetement_coleur", function (colors) {
                colors.forEach(function (color) {
                    revetement_couleur_list.push(color);
                });

                PlatForm.getFixedVariables("texture_au_choix", function (texture_choises) {
                    texture_choises.forEach(function (choises) {
                        textureauchoix_list.push(choises);
                    });

                    // callback
                    next();
                });
            });
        });
    }

</script>
{% endblock %}