﻿{% extends '../layout/layout.html' %}

{% block title %} Combien de cocktails {% endblock%}

{% block styles %}
{% endblock %}

{% block body %}
<div class="wrapper">

    {% include './header/header.html' %}

    <form id="form-ice" action="{{ 'sur_measure_l2_4'|route|replace(':category', params.category) }}" method="post">

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <p class="title-italic">Quel(s) type(s) de glaçon(s) souhaitez-vous ?</p>
                </div>
            </div>
            <br/><br/>

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <p class="subtitle color-orange">
                        monsieur vivien vous informe que ces différents services peuvent être cumulés !
                    </p>
                </div>
            </div>
            <br/><br/>

            <div class="row">
                <div class="col-lg-offset-2 col-lg-3 col-md-3 col-sm-3">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optglacon" id="optglacon1" value="standard"
                                           checked/>&nbsp;<label class="baseninesmallcapsregular"
                                                                 style="padding-left:0px;">standard<br/><span
                                        class="libre_baskervilleitalic">Vous avez déjà 99 kilogrammes de glaçons cubes et<br/>99 kilogrammes de glace pilée avec vos cocktails</span></label>
                                </label>
                            </div>
                        </div>
                    </div>
                    <br/>

                    <div id="option-container-standard">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                            <span class="libre_baskervilleitalic"
                                  style="padding-left:45px;">Option supplémentaire</span>
                            </div>
                        </div>
                        <div class="option-list"></div>
                    </div>
                    <br/>

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optglacon" id="optglacon2" value="source"/>&nbsp;<label
                                        class="baseninesmallcapsregular" style="padding-left:0px;">à l'eau de
                                    source</label>
                                </label>
                            </div>
                        </div>
                    </div>
                    <br/>

                    <div id="option-container-source">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                            <span class="libre_baskervilleitalic"
                                  style="padding-left:45px;">Option supplémentaire</span>
                            </div>
                        </div>
                        <div class="option-list"></div>
                    </div>
                    <br/>

                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div style="background: url('/content/img/glacon.jpg') no-repeat center;background-size:cover; width:100%; height:350px; border:4px solid #000;">
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="desc libre_baskervilleitalic">
                    </div>
                </div>
            </div>
            <br/><br/><br/><br/>

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                    <a href="">
                        <!-- TODO link to add here -->
                        <span id="btn-back"><img src="/content/img/arrow-back.png"/></span>
                    </a>
                    <input id="btn-done" class="btn btn-std" type="button" value="je valide"
                           style="padding-left:30px; padding-right:30px;"/>
                </div>
            </div>
            <br/>

            <div class="row">
            </div>
        </div>

        <input type="hidden" name="optional" value=""/>
    </form>

    <br/>
    <br/>

    <div class="footer">Monsieur Vivien vous informe que "l'abus d'alcool est dangereux pour la santé, consommez avec
        modération"
    </div>
</div>
{% endblock%}

{% block scripts %}
<script>
    var option_list = [];
    var total = 0;
    var desc = "";
    var containers = {
        standard: "#option-container-standard",
        source: "#option-container-source"
    };

    function change_type_ice() {
        var self = $(this);
        create_optional_list($(containers[self.val()]).find(".option-list"));
    }

    function create_optional_list(list) {
        $('.option-list').empty();

        for (var i = 0; i < option_list.length; i++) {
            var item = option_list[i];
            var tmp = option_tmp;
            tmp = tmp.replace("@ID@", item.id)
                    .replace("@GLACON@", item.description)
                    .replace("@PRICE@", (item.Price === null ? "à venir" : "+ " + formattedPrice(item.Price.price) + "€ ttc"));
            list.append(tmp);
        }
    }

    function removeone(obj) {
        var o = $(obj).parent().find(".counter");
        var tmp = parseInt(o.html());
        if (tmp > 0) {
            var c = tmp - 1;
        }
        o.html(c);
    }

    function addone(obj) {
        var o = $(obj).parent().find(".counter");
        var c = parseInt(o.html()) + 1;
        o.html(c);
    }

    function btn_done_onclick() {
        var listIce = [];
        $.each($('.counter'), function () {
            var self = $(this);
            var count = parseInt(self.text());
            var data = self.data();

            if(count > 0){
                listIce.push({id: data.id, count: count});
            }

        });
        $('input[name="optional"]').val(JSON.stringify(listIce));
        $('#form-ice').submit();
    }

    function btn_menu_onclick() {
    }
    function btn_help_onclick() {
    }
    function btn_back_onclick() {
    }

    $(document).ready(function () {

        PlatForm.getFixedVariables("ice", function (r) {
            r.forEach(function (ice) {
                option_list.push(ice);
            });


            create_optional_list($(containers.standard).find(".option-list"));
            $(".desc").html(desc);
            $('input[name="optglacon"]').change(change_type_ice);
            $("#btn-menu").on("click", btn_menu_onclick);
            $("#btn-help").on("click", btn_help_onclick);
            $("#btn-back").on("click", btn_back_onclick);
            $("#btn-done").on("click", btn_done_onclick);
        });
    });

    var option_tmp = '<div class="row">' +
            '<div class="col-lg-12 col-md-12 col-sm-12">' +
            '<span class="baseninesmallcapsregular">' +
            '<span onclick="removeone(this);" style="cursor:pointer">-</span>&nbsp;' +
            '<span data-id="@ID@" class="counter">0</span>&nbsp;' +
            '<span onclick="addone(this);" style="cursor:pointer">+</span>&nbsp;' +
            '<span>@GLACON@</span>&nbsp;' +
            '<span class="libre_baskervilleitalic pricelabel">@PRICE@</span>' +
            '</span>' +
            '</div>' +
            '</div>';

</script>
{% endblock %}