﻿{% extends '../layout/layout.html' %}

{% block title %}Ma commande{% endblock%}

{% block styles %}
<style>
    .details .prestation .description {
        float: left;
        font-size: 16px;
    }

    .details .prestation .price {
        float: right;
        font-size: 16px;
    }

    .details .prestation-group .description {
        float: left;
        font-size: 16px;
        text-decoration: underline
    }

    .details .prestation-group .price {
        float: right;
        font-size: 16px;
        text-decoration: underline
    }

    .prestation .remove {
        display: none;
    }

    .prestation:hover > .remove {
        display: inherit;
    }
</style>

{% endblock %}

{% block body %}
<div class="wrapper">

    {% include './header/header.html' %}

    <div class="container details">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <p class="title-italic">Ma commande</p>
            </div>
        </div>
        <br/><br/>

        <div class="row baseninebold">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <!--<span class="description" style="float:left; font-size:16px;">Détail de la formule "<span class="formule-name"></span>"</span>-->
                <span class="description" style="float:left; font-size:16px;"></span>
                <span class="price" style="float:right; font-size:16px;">Prix</span>
            </div>
        </div>
        <br/>

        <div class="prestation-list"></div>
        <br/>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <span class="totalht baseninebold" style="float:right; font-size:16px;"><span class="baseninebold"
                                                                                              style="padding-right:100px;">Total&nbsp;HT</span><span
                        class="value libre_baskervilleitalic"></span></span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <span class="tva baseninebold" style="float:right; font-size:16px;"><span class="baseninebold"
                                                                                          style="padding-right:100px;">TVA&nbsp;<span
                        class="tva-val"></span>%</span><span class="value libre_baskervilleitalic"></span></span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <span class="remise baseninebold" style="color:#f00; float:right; font-size:16px;"><span
                        class="baseninebold" style="padding-right:100px;">Remise&nbsp;<span class="remise-val"></span>%</span><span
                        class="value libre_baskervilleitalic"></span></span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <span class="totalttc baseninebold" style="float:right; font-size:16px;"><span class="baseninebold"
                                                                                               style="padding-right:100px;">Total&nbsp;TTC</span><span
                        class="value libre_baskervilleitalic" style="text-decoration:underline;"></span></span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <span class="totalhtperpersonne baseninebold" style="float:right; font-size:16px;"><span
                        class="baseninebold"
                        style="padding-right:100px;">Total HT/pers&nbsp;(<span id="span-nb-people"></span>&nbsp;personnes)</span><span
                        class="value libre_baskervilleitalic"></span></span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div>
                        <span style="text-align: center; display: inline-block;">
                            <span class="libre_baskervilleitalic" style="font-size:12px;">Cliquez pour télécharger le devis en PDF</span><br/>
                            <a href="{{ 'finalize_2_macommande_list'|route }}" target="">
                                <input type="button" class="btn btn-std" value="C'était juste pour voir !"/>
                            </a>
                        </span>
                        <span style="float:right;">
                            <br/>
                            <input type="button" class="btn btn-std" value="J'ai oublié quelque chose !"
                                   style="margin-right:10px;"/>
                            <a href="{{ 'finalize_3_information_personal'|route }}">
                                <input type="button" class="btn btn-std" value="Je paye ma commande"/>
                            </a>
                        </span>
                </div>
            </div>
        </div>
    </div>
    <br/><br/>

    <div class="footer">Monsieur Vivien vous informe que "l'abus d'alcool est dangereux pour la santé, consommez avec
        modération"
    </div>
</div>
{% endblock%}

{% block scripts %}
<script>

    var pricetype1 =
            '<div class="row libre_baskervilleitalic prestation" style="position:relative;margin-bottom:5px;">' +
            '   <div class="col-lg-12 col-md-12 col-sm-12">' +
            '       <label class="description">@DESC@</label>' +
            '       <span class="price">@PRICE@ €</span>' +
            '   </div>' +
            '   <div class="remove subtitle color-orange" @DATA@' +
            '       onclick="removeItem(this)"' +
            '       style="font-style:italic;position:absolute;left:-53px;top:1px;cursor:pointer;">' +
            '       RETIRER' +
            '   </div>' +
            '</div>';

    var pricetype2 = '<div class="row libre_baskervilleitalic prestation" style="font-weight: bold">' +
            '<div class="col-lg-12 col-md-12 col-sm-12">' +
            '<span class="description">@DESC@</span>' +
            '<span class="price"></span>' +
            '</div>' +
            '</div>';


    var pricetype3 = '<div class="row libre_baskervilleitalic prestation">' +
            '<div class="col-lg-12 col-md-12 col-sm-12">' +
            '<span class="description">@DESC@</span>' +
            '<span class="price">@PRICE@</span>' +
            '</div>' +
            '</div>';

    var pricetype10 = '<div class="row libre_baskervilleitalic prestation" style="width:100%;height:50px;">' +
            '<div class="col-lg-12 col-md-12 col-sm-12">' +
            '<span class="description"></span>' +
            '<span class="price"></span>' +
            '</div>' +
            '</div>';

    var pricetype11 = '<div class="row libre_baskervilleitalic prestation" style="width:100%;height:20px;">' +
            '<div class="col-lg-12 col-md-12 col-sm-12">' +
            '<span class="description"></span>' +
            '<span class="price"></span>' +
            '</div>' +
            '</div>';

    function removeItem(o) {
        var self = $(o)
        var data = self.data()
        PlatForm.removeCommandItem(data, function (r) {
            console.log("remove item response", r)
            if(r.s){
                self.parent().remove()
            }
            PlatForm.maCommandeDetails(function (commande) {
                update_total_prices(commande)
            })
        })
    }

    function Prestation(desc, price, type, options) {
        this.description = desc;
        this.price = price;
        this.type = type;
        this.options = options;
    }

    var total = 0;
    var totalht = 0;
    var totalttc = 0;
    var totalhtpers = 0;
    var tva = 0;
    var remise = 0;
    var prestationlist = [];
    var formule_name = "";
    var item, tmp, i, nbppls;
    var cmd;

    function btn_cancel_onclick() {
    }
    function btn_change_onclick() {
    }
    function btn_ok_onclick() {
    }

    function update_total_prices(commande) {
        $('#span-nb-people').text(nbppls)
        var totalht = commande.Total;
        tmp = formattedPrice(totalht);
        $(".totalht").find(".value").html(tmp + " €");

        $(".tva-val").html(tva);
        var tva_value = totalht * tva;
        tmp = formattedPrice(tva_value);
        $(".tva").find(".value").html(tmp + " €");

        if (remise === 0) {
            $(".remise").parent().parent().remove();
        }
        else {
            $(".remise-val").html(remise);
            var remise_value = (tva_value + totalht) * remise;
            tmp = formattedPrice(remise_value)
            $(".remise").find(".value").html(tmp + " €");
        }

        totalttc = totalht + tva_value - remise_value;
        tmp = formattedPrice(totalttc);
        $(".totalttc").find(".value").html(tmp + " €");

        totalhtpers = totalht / nbppls;
        tmp = formattedPrice(totalhtpers);
        $(".totalhtperpersonne").find(".value").html(tmp + " €");

        // finally header total
        $(".total").html(formattedPrice(totalht) + " €");
    }

    $(document).ready(function () {
        initData(function (commande) {
            $(".formule-name").html(formule_name);

            for (i = 0; i < prestationlist.length; i++) {
                item = prestationlist[i];
                var el = "";
                if (item.type === 1) {
                    el = pricetype1;
                }
                else if (item.type === 2) {
                    el = pricetype2;
                } else if (item.type === 3) {
                    el = pricetype3;
                } else if (item.type === 10) {
                    el = pricetype10;
                } else if (item.type === 11) {
                    el = pricetype11;
                }
                el = el.replace("@DESC@", item.description)
                        .replace("@PRICE@", item.price)

                if (item.type === 1) {
                    var dataString = ""
                    _.keys(item.options).forEach(function (prop) {
                        dataString += " data-" + prop + "='" + item.options[prop] + "' "
                    })
                    el = el.replace("@DATA@", dataString)
                }

                $(".prestation-list").append(el)
            }

            fetch_additional_service_information()
            update_total_prices(commande)
            $("#btn-cancel").on("click", btn_cancel_onclick);
            $("#btn-change").on("click", btn_change_onclick);
            $("#btn-ok").on("click", btn_ok_onclick);
        });
    });

    function initData(next) {
        var o;
        total = 0;
        tva = 0.2;  // fixed tva at 20%
        remise = 0.05;  // fixed remise at 5%
        totalht = 0;
        formule_name = "";

        PlatForm.getUserParty(function (Party) {
            nbppls = Party.Event.nbPeople

            // fetch commande
            PlatForm.maCommandeDetails(function (commande) {
                console.log("commande", commande);
                cmd = commande;
                if (cmd.ifFormule) {
                    // if formule

                    prestationlist.push(new Prestation("Détail de la formule \" " + cmd.Formule.d + "\"", "", 2));
                    prestationlist.push(new Prestation("", "", 11));
                    prestationlist.push(new Prestation("Nombres des personnes pour votres evenement : "
                            + cmd.FormuleNbPpl, "", 3));
                    prestationlist.push(new Prestation("", "", 11));

                    cmd.FormuleItems.forEach(function (item) {
                        prestationlist.push(new Prestation(item.d, item.p, 1));
                    })

                } else {
                    // if sur measure

                    prestationlist.push(new Prestation("Evenement", "", 2));
                    prestationlist.push(new Prestation("", "", 11));
                    prestationlist.push(new Prestation("Nombres des personnes pour votres evenement : "
                            + Party.Event.nbPeople, "", 3));
                    prestationlist.push(new Prestation("", "", 10));

                    // Theme
                    if (commande.Theme) {
                        console.log("Theme", commande.Theme);
                        o = commande.Theme;
                        prestationlist.push(new Prestation("Theme", "", 2));
                        prestationlist.push(new Prestation("", "", 11));
                        prestationlist.push(new Prestation(o.d, o.p, 1, o.o));
                        prestationlist.push(new Prestation("", "", 10));
                    }

                    // Drinks
                    if (commande.Drinks) {
                        prestationlist.push(new Prestation("Drinks", "", 2));
                        commande.Drinks.forEach(function (Category) {
                            o = Category;
                            prestationlist.push(new Prestation("", "", 11));
                            prestationlist.push(new Prestation(o.d, "", 2));
                            prestationlist.push(new Prestation("", "", 11));
                            console.log("category drink", Category);
                            Category.drinks.forEach(function (Drink) {
                                if (Drink) {
                                    console.log("Drink", Drink);
                                    o = Drink;
                                    prestationlist.push(new Prestation(o.d, o.a + " x " + o.p, 1, o.o));
                                }
                            });

                            if (Category.ice != undefined && Category.ice.length > 0) {
                                prestationlist.push(new Prestation("", "", 11));
                                prestationlist.push(new Prestation("options glacons", "", 2));
                                prestationlist.push(new Prestation("", "", 11));
                                Category.ice.forEach(function (ice) {
                                    o = ice;
                                    prestationlist.push(new Prestation(o.d, o.a + " x " + o.p, 1, o.o));
                                });
                            }
                        });
                        prestationlist.push(new Prestation("", "", 10));
                    }

                    // Services
                    if (commande.Services) {
                        prestationlist.push(new Prestation("Services", "", 2));
                        prestationlist.push(new Prestation("", "", 11));
                        Object.keys(commande.Services).forEach(function (typeService) {
                            prestationlist.push(new Prestation(format_service_type_name(typeService), "", 2));
                            commande.Services[typeService].forEach(function (Service) {
                                if (Service) {
                                    // console.log("Service", Service);
                                    o = Service;
                                    prestationlist.push(new Prestation(o.d, o.p, 1, o.o));
                                }
                            });
                            prestationlist.push(new Prestation("", "", 11));
                        });
                        prestationlist.push(new Prestation("", "", 10));
                    }

                    // Additional
                    if (commande.Additional) {
                        prestationlist.push(new Prestation("Additional", "", 2));
                        prestationlist.push(new Prestation("", "", 11));
                        Object.keys(commande.Additional).forEach(function (typeAdditional) {
                            console.log(typeAdditional);
                            prestationlist.push(new Prestation(typeAdditional, "", 2));
                            commande.Additional[typeAdditional].forEach(function (Additional) {
                                if (Additional) {
                                    console.log("Addition", Additional);
                                    o = Additional;
                                    prestationlist.push(new Prestation(o.d, o.p, 1, o.o));
                                }
                            });
                            prestationlist.push(new Prestation("", "", 11));
                        });
                        prestationlist.push(new Prestation("", "", 10));
                    }
                }
                // callback
                next(commande);
            });
        });
    }

    var SERVICE_TYPE_TO_NAME_MAP = {
        service_bar: "Service pour le bar"
    }
    function format_service_type_name(type) {
        if (!_.isUndefined(SERVICE_TYPE_TO_NAME_MAP[type])) {
            return SERVICE_TYPE_TO_NAME_MAP[type]
        } else {
            return type
        }
    }

    function fetch_additional_service_information() {
        $.each($('div[data-body]'), function () {
            var self = $(this)
            PlatForm.getAdditionalServiceInformation({data: JSON.stringify(self.data())}, function (r) {
                if (r.drinks.length > 0) {
                    var container = self.parent().find('.description')
                    var text = container.text()
                    container.text(
                            text + " : " + r.names
                    )
                }
            })
        })
    }

</script>
{% endblock %}