﻿{% extends '../layout/layout_raw.html' %}

{% block title %}Ma commande{% endblock%}

{% block styles %}
<style>
    .details .prestation .description {
        float: left;
        font-size: 16px;
    }

    .details .prestation .price {
        float: right;
        font-size: 16px;
    }

    .details .prestation-group .description {
        float: left;
        font-size: 16px;
        text-decoration: underline
    }

    .details .prestation-group .price {
        float: right;
        font-size: 16px;
        text-decoration: underline
    }
</style>

{% endblock %}

{% block body %}

<div class="wrapper">
    <div class="container details">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <p class="title-italic" style="">MONSIEUR VIVIEN </p>
                <p class="title-italic" style="padding-top:10px;">Ma commande</p>
            </div>
        </div>
        <br/><br/>

        <div class="row baseninebold">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <!--<span class="description" style="float:left; font-size:16px;">Détail de la formule "<span class="formule-name"></span>"</span>-->
                <span class="description" style="float:left; font-size:16px;"></span>
                <span class="price" style="float:right; font-size:16px;">Prix</span>
            </div>
        </div>
        <br/>

        <div class="prestation-list2">

            {% if CMD.ifFormule %}

            <div class="row libre_baskervilleitalic prestation" style="font-weight: bold">
                <div class="col-lg-12 col-md-12 col-sm-12"><span class="description">Détail de la formule " {{ CMD.Formule.d }} "</span><span
                        class="price"></span></div>
            </div>
            <div style="width:100%;height:20px;"></div>
            <div class="row libre_baskervilleitalic prestation">
                <div class="col-lg-12 col-md-12 col-sm-12"><span class="description">Nombres des personnes pour votres evenement : {{ Party.Event.nbPeople }}</span><span
                        class="price"></span></div>
            </div>

            <div style="width:100%;height:20px;"></div>

            {% for item in CMD.FormuleItems %}
            <div class="row libre_baskervilleitalic prestation">
                <div class="col-lg-12 col-md-12 col-sm-12"><span class="description"> {{ item.d }}</span><span
                        class="price">{{ item.p }} €</span></div>
            </div>

            {% endfor %}

            {% else %}

            <div class="row libre_baskervilleitalic prestation" style="font-weight: bold">
                <div class="col-lg-12 col-md-12 col-sm-12"><span class="description">Evenement</span><span
                        class="price"></span></div>
            </div>
            <div style="width:100%;height:20px;"></div>
            <div class="row libre_baskervilleitalic prestation">
                <div class="col-lg-12 col-md-12 col-sm-12"><span class="description">Nombres des personnes pour votres evenement : {{ Party.Event.nbPeople }}</span><span
                        class="price"></span></div>
            </div>

            <div style="width:100%;height:20px;"></div>
            <div style="width:100%;height:20px;"></div>

            <div class="row libre_baskervilleitalic prestation" style="font-weight: bold">
                <div class="col-lg-12 col-md-12 col-sm-12"><span class="description">Theme</span><span
                        class="price"></span></div>
            </div>
            <div style="width:100%;height:20px;"></div>
            <div class="row libre_baskervilleitalic prestation">
                <div class="col-lg-12 col-md-12 col-sm-12"><span class="description">{{ CMD.Theme.d }}</span><span
                        class="price">{{ CMD.Theme.p }} €</span></div>
            </div>

            <div style="width:100%;height:20px;"></div>
            <div style="width:100%;height:20px;"></div>

            <div class="row libre_baskervilleitalic prestation" style="font-weight: bold">
                <div class="col-lg-12 col-md-12 col-sm-12"><span class="description">Drinks</span><span
                        class="price"></span></div>
            </div>

            <div style="width:100%;height:20px;"></div>

            {% for Category in CMD.Drinks %}

            <div class="row libre_baskervilleitalic prestation" style="font-weight: bold">
                <div class="col-lg-12 col-md-12 col-sm-12"><span class="description">{{ Category.d }}</span><span
                        class="price"></span></div>
            </div>

            {% for drink in Category.drinks %}
            <div class="row libre_baskervilleitalic prestation">
                <div class="col-lg-12 col-md-12 col-sm-12"><span class="description"> {{ drink.d }}</span><span
                        class="price">{{ drink.a }} x {{ drink.p }} €</span></div>
            </div>
            {% endfor %}

            {% if Category.ice != undefined && Category.ice.length > 0 %}
            <div class="row libre_baskervilleitalic prestation" style="font-weight: bold">
                <div class="col-lg-12 col-md-12 col-sm-12"><span class="description">options glacons</span><span
                        class="price"></span></div>
            </div>

            {% for ice in Category.ice %}
            <div class="row libre_baskervilleitalic prestation">
                <div class="col-lg-12 col-md-12 col-sm-12"><span class="description">{{ ice.d }}</span><span
                        class="price">{{ ice.p }} €</span></div>
            </div>
            {% endfor %}

            {% endif %}

            {% endfor %}

            <div style="width:100%;height:20px;"></div>
            <div style="width:100%;height:20px;"></div>

            <div class="row libre_baskervilleitalic prestation" style="font-weight: bold">
                <div class="col-lg-12 col-md-12 col-sm-12"><span class="description">Services</span><span
                        class="price"></span></div>
            </div>

            <div style="width:100%;height:20px;"></div>

            {% for ServiceType in CMD.Services|keys %}
            <div class="row libre_baskervilleitalic prestation" style="font-weight: bold">
                <div class="col-lg-12 col-md-12 col-sm-12"><span class="description">{{ ServiceType }}</span><span
                        class="price"></span></div>
            </div>

            {% for Service in CMD.Services[ServiceType] %}
            <div class="row libre_baskervilleitalic prestation">
                <div class="col-lg-12 col-md-12 col-sm-12"><span class="description">
                    {{ Service.d }}
                    {% if Service.op.names != undefined %}
                     : {{ Service.op.names }}
                    {% endif %}
                </span><span
                        class="price">{{ Service.p }} €</span></div>
            </div>
            {% endfor %}

            <div class="row libre_baskervilleitalic prestation" style="width:100%;height:20px;">
                <div class="col-lg-12 col-md-12 col-sm-12"><span class="description"></span><span class="price"></span>
                </div>
            </div>
            {% endfor %}

            <div style="width:100%;height:20px;"></div>
            <div style="width:100%;height:20px;"></div>

            <div class="row libre_baskervilleitalic prestation" style="font-weight: bold">
                <div class="col-lg-12 col-md-12 col-sm-12"><span class="description">Additional</span><span
                        class="price"></span></div>
            </div>

            <div style="width:100%;height:20px;"></div>

            {% for AdditionalType in CMD.Additional|keys %}
            <div class="row libre_baskervilleitalic prestation" style="font-weight: bold">
                <div class="col-lg-12 col-md-12 col-sm-12"><span class="description">{{ AdditionalType }}</span><span
                        class="price"></span></div>
            </div>

            {% for Additional in CMD.Additional[AdditionalType] %}
            <div class="row libre_baskervilleitalic prestation">
                <div class="col-lg-12 col-md-12 col-sm-12"><span class="description"> {{ Additional.d }}  </span><span
                        class="price">{{ Additional.p }} €</span></div>
            </div>
            {% endfor %}


            {% endfor %}

        </div>

        {% endif %}

        <br/>

        {% set total = CMD.Total %}
        {% set tva_perc = 0.2 %}
        {% set tva = total * tva_perc %}
        {% set remise = tva + total %}
        {% set remise_perc = 0.05 %}
        {% set remise = remise * remise_perc %}
        {% set ttc = total + tva - remise %}

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <span class="totalht baseninebold" style="float:right; font-size:16px;"><span class="baseninebold"
                                                                                              style="padding-right:100px;">Total&nbsp;HT</span><span
                        class="libre_baskervilleitalic">{{ total|formatprice }} €</span></span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <span class="tva baseninebold" style="float:right; font-size:16px;"><span class="baseninebold"
                                                                                          style="padding-right:100px;">TVA&nbsp;<span
                        class="">{{ tva_perc * 100 }}</span>%</span><span class="libre_baskervilleitalic">{{ tva|formatprice }} €</span></span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <span class="remise baseninebold" style="color:#f00; float:right; font-size:16px;"><span
                        class="baseninebold" style="padding-right:100px;">Remise&nbsp;<span class=""></span>{{ remise_perc * 100 }}%</span><span
                        class="libre_baskervilleitalic">{{ remise|formatprice }} €</span></span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <span class="totalttc baseninebold" style="float:right; font-size:16px;"><span class="baseninebold"
                                                                                               style="padding-right:100px;">Total&nbsp;TTC</span><span
                        class="libre_baskervilleitalic"
                        style="text-decoration:underline;">{{ total + tva - remise }}</span></span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <span class="totalhtperpersonne baseninebold" style="float:right; font-size:16px;"><span
                        class="baseninebold"
                        style="padding-right:100px;">Total HT/pers&nbsp;(<span id="">{{ Party.Event.nbPeople }}</span>&nbsp;personnes)</span><span
                        class="libre_baskervilleitalic">{{ CMD.Total / Party.Event.nbPeople }}</span></span>
            </div>
        </div>
    </div>
    <br/><br/>

    <div class="footer">Monsieur Vivien vous informe que "l'abus d'alcool est dangereux pour la santé, consommez avec
        modération"
    </div>
</div>

{% endblock%}

{% block scripts %}

{% endblock %}