﻿{% extends '../layout/layout.html' %}

{% block title %}Verifier Age {% endblock%}

{% block styles %}
    <style>
        .wrapper {
            color: #fff;
        }

        input {
            border: none;
            background-color: transparent;
            text-align: center;
        }
    </style>
{% endblock %}

{% block body %}
<div class="wrapper background-orange">
    <div class="container">
        <div class="row" style="padding-top:20%; text-align:center;">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div>
                    <a href="{{ 'root'|route }}">
                        <img style="margin:0 auto;" src="/content/img/logo-white.png"/>
                    </a>
                </div>
            </div>
        </div>
        <br/><br/><br/>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <p class="subtitle" style="color:#fff;">
                    l'accès à ce site est strictement réservé aux personnes majeures,<br/>
                    veuillez entrer votre date de naissance:
                </p>
            </div>
        </div>
        <div class="row" style="padding-top:100px; font-size:40px; text-align:center;">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <form action="{{ 'validateAge'|route }}" method="post" id="form-age">
                    <input class="baseninebold" type="text" name="day" placeholder="JJ" style="width:50px;"/><span>/</span>
                    <input class="baseninebold" type="text" name="month" placeholder="MM" style="width:70px;"/><span>/</span>
                    <input class="baseninebold" type="text" name="year" placeholder="AAAA" style="width:120px;"/>
                </form>
            </div>
        </div>
        <div class="row" style="padding-top:100px; text-align:center;">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <p class="msg-alert-italic">
                    En cliquant sur "valider", vous acceptez <span style="text-decoration:underline">les conditions générales de vente.</span>
                </p>
            </div>
        </div>
        <br/>

        <div class="row" style="text-align:center;">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <input id="btn-valider" type="button" class="btn btn-white" value="valider" style="width:150px;"/>
            </div>
        </div>
    </div>
</div>
{% endblock%}

{% block scripts %}
<script>
    function btn_valider_onclick() {
        $('#form-age').submit();
    }

    $(document).ready(function () {
        $("#btn-valider").on("click", btn_valider_onclick);

        // test
//        $('input[name="day"]').val(20);
//        $('input[name="month"]').val(05);
//        $('input[name="year"]').val(1993);
    });
</script>
{% endblock %}