﻿{% extends '../layout/layout.html' %}

{% block title %} {% endblock%}

{% block styles %}
<style>
    .wrapper { color:#fff; }
</style>
{% endblock %}

{% block body %}
<div class="wrapper background-orange">
    <div class="container">
        <div class="row baseninebold menu-nav">
            <div class="col-lg-12 col-md-12 col-sm-12" style="text-align:center;">
                <a href="{{ 'root'|route }}">
                    <img src="/content/img/menu-logo-white.png" />
                </a>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <p class="title" style="padding-top:150px;" id="title">
                    </p>
                </div>
            </div>
            <div class="row" style="padding-top:100px;">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <p class="libre_baskervilleitalic" style="text-align:center;" id="subtitle">

                    </p>
                </div>
            </div>
            <div class="row" style="padding-top:150px;">
                <div class="col-lg-12 col-md-12 col-sm-12" style="text-align:center;">
                    <a id="next" href="">
                        <input id="btn" type="button" class="btn btn-white" value="" />
                    </a>
                </div>
            </div>
            <br />
        </div>
    </div>
</div>

{% if replacestring != "" %}
<div id="replace" style="display: none;" data-string="{{ replacestring }}"></div>
{% endif %}

{% endblock%}

{% block scripts %}
<script>
    var stage = '{{ stage }}';
    var message = {
        title: '{{ message.title }}',
        next: '{{ message.next }}'
    };
    var defaults = {
        stage1complete: {
            title: "Great!",
            subtitle: "Vous venez de finir de compléter les informations liées à votre événement (étape 1/5).",
            btnText: "Très bien, je choisis mon service de bar",
            next: "{{ 'sur_measure_l2_1'|route }}"
        },
        stage2complete: {
            title: "Bravo!",
            subtitle: "Vous venez de finir de compléter les informations liées à votre événement (étape 2/5).",
            btnText: "parafait, je choisis mes animations",
            next: "{{ 'sur_measure_l3_1'|route }}"
        },
        stage3complete: {
            title: "Bravo!",
            subtitle: "Vous venez de finir de compléter les informations liées à votre animation (étape 3/5).",
            btnText: "parafait, je choisis mon bar",
            next: "{{ 'sur_measure_l4_1'|route }}"
        },
        stage4complete: {
            title: "Bravo!",
            subtitle: "Vous venez de finir de compléter les informations liées à votre bar (étape 4/5).",
            btnText: "parafait, je choisis mon barman",
            next: "{{ 'sur_measure_l5_1'|route }}"
        },
        stage5complete: {
            title: "Bravo!",
            subtitle: "Vous venez de finir de compléter les informations liées à votre barman (étape 5/5).",
            btnText: "parafait, je passe à ma commande",
            next: "{{ 'finalize_1_offer'|route }}"
        },
        finalizecomplete: {
            title: "commande terminée !",
            subtitle: "Vous pouvez souff ler, à présent Monsieur Vivien s'occupe de tout !",
            btnText: "parfait, merci monsieur vivien !",
            next: "#"
        },


        choosedrinks: {
            title: "NOUS ALLONS CHOISIR VOS COCKTAILS",
            subtitle: "",
            btnText: "COOL! J 'ai Hâte !",
            next: "#"
        },
        besoinsrenforts: {
            title: "allo, monsieur vivien ? besoin de renforts !",
            subtitle: "Vous avez séléctionné $NBDRINK$ cocktails, les barmans de Monsieur Vivien sont rapides mais n'ont que " +
                "deux bras malheuresement ! C'est pourquoi Monsieur Vivien vous impose $NBBARMEN$ barmans " +
            "ainsi que $NBCOMIS$ commis de salle pour votre évènement.",
            btnText: "parfait, je choisis mon barman",
            next: "{{ 'sur_measure_l5_2'|route }}"
        }
    };

    $(document).ready(function() {
        if(message.title != "")
            $('p#title').text(message.title);
        else
            $('p#title').text(defaults[stage].title);

        if(message.title != "")
            $('a#next').attr('href', message.next);
        else
            $('a#next').attr('href', defaults[stage].next);

        var subtitle = defaults[stage].subtitle

        // further format text
        var inputReplace = $('#replace')
        if(inputReplace.length > 0){
            var replaceArray = inputReplace.data().string.split(';')
            replaceArray.forEach(function (array) {
                var replaceTuple = array.split(':')
                subtitle = subtitle.replace(replaceTuple[0], replaceTuple[1])
            })
        }

        $('p#subtitle').text(subtitle);
        $('input#btn').val(defaults[stage].btnText);
    });
</script>
{% endblock %}