﻿{% extends '../layout/layout.html' %}

{% block title %} Tutoriel {% endblock%}

{% block styles %}
<style>
    .wrapper { color:#fff; }
</style>
{% endblock %}

{% block body %}
    <div class="wrapper background-orange">
        <div class="row baseninebold menu-nav">
            <div class="col-lg-12 col-md-12 col-sm-12" style="text-align:center;">
                <img src="/content/img/menu-logo-white.png" />
            </div>
        </div>
        <div class="container-fluid">
            <div class="row" style="padding-top:150px;">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <p class="title text-uppercase">
                        Monsieur Vivien vous offre !
                    </p>
                </div>
            </div>
            <div class="row" style="padding-top:70px;">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <p class="libre_baskervilleitalic" style="font-size:16px; text-align:center;">
                        Votre formule vous donne droit à 5% sur votre commande !<br />
                        Et pour son ouverture, Monsieur Vivien vous offre :<br /><br />
                        1 extension de bar et 5 cartes imprimées!
                    </p>
                </div>
            </div>
            <div class="row" style="padding-top:70px;">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <p class="baseninesmallcapsregular" style="text-align:center;">
                        Monsieur Vivien vous rappelle que tous vos choix seront modifiables,<br />
                        si vous le souhaitez, à la fin de la commande !
                    </p>
                </div>
            </div>
            <div class="row" style="padding-top:100px;">
                <div class="col-lg-12 col-md-12 col-sm-12" style="text-align:center;">
                    <a href="{{ 'finalize_2_macommande'|route }}">
                        <input id="btn-ok" type="button" class="btn btn-white" value="Parfait, passons à la commande" />
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock%}

{% block scripts %}
<script>
    function btn_ok_onclick() { }

    $(document).ready(function () {
        $("#btn-ok").on("click", btn_ok_onclick);
    });
</script>
{% endblock %}