﻿{% extends '../layout/layout.html' %}

{% block title %}{% endblock%}

{% block styles %}
{% endblock %}

{% block body %}
<div class="wrapper">

    {% include './header/header.html' %}

    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <p class="title-italic">Finaliser le paiement</p>
            </div>
        </div>
        <br/><br/>
        <div class="row">
            <div class="container">

                <form id="checkout" class="text-center" method="post" action="{{ 'payment_braintree_checkout'|route }}">
                    <div id="payment-form"></div>

                    <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                        <span><img id="btn-back" src="/content/img/arrow-back.png"/>&nbsp;&nbsp;&nbsp;&nbsp;
                            <input id="btn-ok" type="button" class="btn btn-std" value="je paye"/></span>
                    </div>

                </form>



                <script src="https://js.braintreegateway.com/v2/braintree.js"></script>
                <script>
                    $.ajax({
                        url: "/payement/generate/token/client",
                        method: "GET"
                    }).done(function (clientToken) {
                        braintree.setup(clientToken, "dropin", {
                            container: "payment-form"
                        });
                        $('#btn-ok').attr('type', 'submit')
                    })
                </script>

            </div>
        </div>
        <br/><br/><br/><br/><br/><br/>
        <div class="row">
            <div class="col-lg-offset-5 col-lg-3 col-md-3 col-sm-3">
            </div>
        </div>
        <br/><br/><br/><br/>
    </div>
    <br/><br/>
    <div class="footer">Monsieur Vivien vous informe que "l'abus d'alcool est dangereux pour la santé, consommez avec
        modération"
    </div>
</div>
{% endblock%}

{% block scripts %}
<script>
    function initDummyData() {
    }


    function btn_menu_onclick() {
    }
    function btn_help_onclick() {
    }
    function btn_back_onclick() {
    }
    function btn_ok_onclick() {
    }

    $(document).ready(function () {
        initDummyData();

        $("#btn-menu").on("click", btn_menu_onclick);
        $("#btn-help").on("click", btn_help_onclick);
        $("#btn-back").on("click", btn_back_onclick);
        $("#btn-ok").on("click", btn_ok_onclick);


        PlatForm.getUserParty(function (Party) {
        });


    });


</script>
{% endblock %}