﻿{% extends '../layout/layout.html' %}

{% block title %} renseignements {% endblock%}

{% block styles %}
<style>
    .details .prestation .description {
        float: left;
        font-size: 16px;
    }

    .details .prestation .price {
        float: right;
        font-size: 16px;
    }

    .details .prestation-group .description {
        float: left;
        font-size: 16px;
        text-decoration: underline
    }

    .details .prestation-group .price {
        float: right;
        font-size: 16px;
        text-decoration: underline
    }
</style>

{% endblock %}


{% block body %}
<div class="wrapper background-orange" style="color:#fff;">
    <div class="container details">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <p class="title-italic" style="padding-top:150px; text-align:center;">Monsieur Vivien a une formule pour
                    votre évènement !</p>
            </div>
        </div>
        <br/><br/>

        <div class="row baseninebold">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <span class="description" style="float:left; font-size:16px;">Détail de la formule "<span
                        class="formule-name"></span>"</span>
                <span class="price" style="float:right; font-size:16px;">Prix</span>
            </div>
        </div>
        <br/>

        <div class="prestation-list"></div>
        <br/>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <span class="remise baseninebold" style="color:#000; float:right; font-size:16px;"><span
                        class="baseninebold" style="padding-right:100px;">Remise&nbsp;<span class="remise-val"></span>%</span><span
                        class="value libre_baskervilleitalic"></span></span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <span class="total baseninebold" style="float:right; font-size:16px;">
                    <span class="baseninebold" style="padding-right:100px;">Total&nbsp;HT</span><span
                        class="value libre_baskervilleitalic"></span></span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6" style="padding-top:20px;">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <input id="btn-plusfolle" type="button" class="btn btn-white"
                               value="je veux une formule plus folle !" style="width:70%;"/>
                    </div>
                </div>
                <div class="row" style="padding-top:10px;">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <input id="btn-plusoriginale" type="button" class="btn btn-white"
                               value="je veux une formule plus originale !" style="width:70%"/>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6" style="padding-top:20px;">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <input id="btn-ok" type="button" class="btn btn-white" value="magnifique ! je prends !"
                               style="float:right; width:70%;"/>
                    </div>
                </div>
                <div class="row" style="padding-top:10px;">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <a href="{{ 'sur_measure_l1_4'|route }}">
                            <input id="btn-no" type="button" class="btn btn-white" value="non, merci monsieur vivien"
                                   style="float:right; width:70%;"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/><br/>

    <div class="footer">Monsieur Vivien vous informe que "l'abus d'alcool est dangereux pour la santé, consommez avec
        modération"
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    function initDummyData() {
        remise = 10;
        total = 0;
        formule_name = "Adieu jeune garçon !";

        var desc = 'Déplacement et installation/désintallation aller-retour (Paris intramuros)';
        var price = "110.00";
        var type = 0;
        var p = new Prestation(desc, price, type);
        prestationlist.push(p);
        desc = '1 Barman et son matériel de travail';
        price = "198.00";
        type = 0;
        p = new Prestation(desc, price, type);
        prestationlist.push(p);
        desc = '1 Poste de bar (location & installation)';
        price = "108.00";
        type = 0;
        p = new Prestation(desc, price, type);
        prestationlist.push(p);
        desc = '1 forfait 100 cocktails (Tout ingrédients compris):';
        price = "327.00";
        type = 1;
        p = new Prestation(desc, price, type);
        prestationlist.push(p);
        desc = '- Location verrerie "classique"';
        price = "0.00";
        type = 0;
        p = new Prestation(desc, price, type);
        prestationlist.push(p);
    }

    var pricetype0 = '<div class="row libre_baskervilleitalic prestation">' +
            '<div class="col-lg-12 col-md-12 col-sm-12">' +
            '<span class="description">@DESC@</span>' +
            '<span class="price">@PRICE@ €</span>' +
            '</div>' +
            '</div>';
    var pricetype1 = '<div class="row libre_baskervilleitalic prestation-group">' +
            '<div class="col-lg-12 col-md-12 col-sm-12">' +
            '<span class="description">@DESC@</span>' +
            '<span class="price">@PRICE@ €</span>' +
            '</div>' +
            '</div>';

    function Prestation(desc, price, type) {
        this.description = desc;
        this.price = price;
        this.type = type;
    }

    var total = 0;
    var remise = 0;
    var prestationlist = [];
    var formule_name = "";

    function btn_plusfolle_onclick() {
    }
    function btn_plusoriginale_onclick() {
    }
    function btn_ok_onclick() {
    }
    function btn_no_onclick() {
    }

    $(document).ready(function () {
        initDummyData();

        $(".formule-name").html(formule_name);

        var i = 0;
        for (i = 0; i < prestationlist.length; i++) {
            var item = prestationlist[i];
            var el = "";
            total += parseFloat(item.price);
            if (item.type === 0) {
                el = pricetype0;
            }
            else {
                el = pricetype1;
            }
            el = el.replace("@DESC@", item.description);
            el = el.replace("@PRICE@", item.price);
            $(".prestation-list").append(el)
        }

        remise_value = 0;
        if (remise === 0) {
            $(".remise").parent().parent().remove();
        }
        else {
            $(".remise-val").html(remise);
            remise_value = (total) * (remise / 100);
            tmp = formattedPrice(remise_value)
            $(".remise").find(".value").html(tmp + " €");
        }

        tmp = formattedPrice(total - remise_value);
        $(".total").find(".value").html(tmp + " €");
        $(".menu-nav").find(".total").html(tmp + " €")

        var totalhtpers = total / 50;
        tmp = formattedPrice(totalhtpers);
        $(".totalhtperpersonne").find(".value").html(tmp + " €");


        $("#btn-plusfolle").on("click", btn_plusfolle_onclick);
        $("#btn-plusoriginale").on("click", btn_plusoriginale_onclick);
        $("#btn-ok").on("click", btn_ok_onclick);
        $("#btn-no").on("click", btn_no_onclick);
    });
</script>
{% endblock %}
