﻿{% extends '../layout/layout.html' %}

{% block title %}Combien de convives{% endblock%}

{% block styles %}
{% endblock %}

{% block body %}
<div class="wrapper">

    {% include './header/header.html' %}

    <form id="form-details" action="{{ 'finalize_3_information_personal'|route }}" method="post">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <p class="title-italic">Monsieur Vivien a besoin de quelques confidences</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <p class="subtitle-italic">Toutes les informations que vous compléterez dans cette partie ne seront
                        ni vendus, ni divulguées ...</p>
                </div>
            </div>
            <br/><br/>

            <div class="row" style="font-size:14px;">
                <div class="col-lg-1 col-md-1 col-sm-1"></div>
                <div class="col-lg-4 col-md-4 col-sm-4 baseninesmallcapsregular">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="libre_baskervilleitalic" style="width:260px;float:right;">Mes informations
                                personnelles
                            </div>
                        </div>
                    </div>
                    <br/>

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <span style="width:260px;float:right;">
                                <label class="radio-inline">
                                    <input type="radio" name="sex" id="sexRadioOptions1" value="m" required>&nbsp;monsieur
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="sex" id="sexRadioOptions2" value="f">&nbsp;madame
                                </label>
                            </span>
                        </div>
                    </div>
                    <br/>

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="form-inline" style="float:right;">
                                <div class="form-group">
                                    <label>Prénom</label>&nbsp;
                                    <input class="libre_baskervilleitalic" style="width:260px; border:0;" type="text"
                                           name="prenom" placeholder="Veuillez saisir votre prénom" required />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="form-inline" style="float:right;">
                                <div class="form-group">
                                    <label>Nom</label>&nbsp;
                                    <input class="libre_baskervilleitalic" style="width:260px; border:0;" type="text"
                                           name="nom" placeholder="Veuillez saisir votre nom" required />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="form-inline" style="float:right;">
                                <div class="form-group">
                                    <label>Anniversaire</label>&nbsp;
                                    <span style="width:260px; display:inline-block;">
                                        <input class="libre_baskervilleitalic"
                                               style="width:40px; text-align:center;border:0;" type="text"
                                               name="day" placeholder="jj" required />.
                                        <input class="libre_baskervilleitalic"
                                               style="text-align:center; width:40px; border:0;"
                                               name="month" type="text" placeholder="mm" required />.
                                        <input
                                                class="libre_baskervilleitalic"
                                                style="text-align:center; width:60px; border:0;" type="text"
                                                name="year" placeholder="aaaa" required />
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br/>

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="form-inline" style="float:right;">
                                <div class="form-group">
                                    <label>Adresse</label>&nbsp;
                                    <input class="libre_baskervilleitalic" style="width:260px; border:0;" type="text"
                                           name="street" placeholder="Veuillez saisir votre adresse" required />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="form-inline" style="float:right;">
                                <div class="form-group">
                                    <label>Code postal</label>&nbsp;
                                    <input class="libre_baskervilleitalic" style="width:260px; border:0;" type="text"
                                           name="postal" placeholder="Veuillez saisir votre code postal" required />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="form-inline" style="float:right;">
                                <div class="form-group">
                                    <label>Ville</label>&nbsp;
                                    <input class="libre_baskervilleitalic" style="width:260px; border:0;" type="text"
                                           name="city" placeholder="Veuillez saisir votre ville" required />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="form-inline" style="float:right;">
                                <div class="form-group">
                                    <label>Pays</label>&nbsp;
                                    <input class="libre_baskervilleitalic" style="width:260px; border:0;" type="text"
                                           name="country" placeholder="Veuillez saisir votre pays" required />
                                </div>
                            </div>
                        </div>
                    </div>
                    <br/>

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="form-inline" style="float:right;">
                                <div class="form-group">
                                    <label>Téléphone</label>&nbsp;
                                    <input class="libre_baskervilleitalic" style="width:260px; border:0;" type="text"
                                           name="telephone" placeholder="Veuillez saisir votre numéro de téléphone"
                                           required />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="form-inline" style="float:right;">
                                <div class="form-group">
                                    <label>Email</label>&nbsp;
                                    <input class="libre_baskervilleitalic" style="width:260px; border:0;" type="text"
                                           name="email" placeholder="Veuillez saisir votre numéro de e-mail" required />
                                </div>
                            </div>
                        </div>
                    </div>
                    <br/>

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div class="radio" style="text-align:right;">
                                        <label class="baseninebold" style="padding-right:15px;">Vous pouvez
                                            m'appeler</label>
                                        <label class="libre_baskervilleitalic"
                                               style="float:right; width:260px; text-align:left;">
                                            <input type="radio" name="callme" id="optionsRadios1" value="option1"
                                                   checked>
                                            &nbsp;Le matin (9h-12h)
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label class="libre_baskervilleitalic" style="float:right; width:260px;">
                                            <input type="radio" name="callme" id="optionsRadios2"
                                                   value="option2">
                                            &nbsp;L'après midi (13h-19h)
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label class="libre_baskervilleitalic" style="float:right; width:260px;">
                                            <input type="radio" name="callme" id="optionsRadios3"
                                                   value="option3">
                                            &nbsp;Le soir (19h-22h)
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label class="libre_baskervilleitalic" style="float:right; width:260px;">
                                            <input type="radio" name="callme" id="optionsRadios4"
                                                   value="option4">
                                            &nbsp;Quand vous voulez !
                                        </label>
                                    </div>
                                    <!--<div class="radio">-->
                                    <!--<label class="libre_baskervilleitalic" style="float:right; width:260px;">-->
                                    <!--<input type="radio" name="optionsRadios" id="optionsRadios5"-->
                                    <!--value="option5">-->
                                    <!--&nbsp;Entre-->
                                    <!--<input style="width:90px; border:0;" type="text" value="">-->
                                    <!--Et-->
                                    <!--<input style="width:90px; border:0;" type="text"  value="">-->
                                    <!--</label>-->
                                    <!--</div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 baseninesmallcapsregular">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="libre_baskervilleitalic" style="width:260px;float:right;">Mon évènement</div>
                        </div>
                    </div>
                    <br/>

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <span style="width:260px; float:right;">
                                <label class="radio-inline" style="padding: 0;">
                                    <input type="checkbox" name="ifsameaddress" id="inlineRadio1" value="1">&nbsp;L'adresse
                                    est la même
                                </label>
                            </span>
                        </div>
                    </div>
                    <br/>

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="form-inline" style="float:right;">
                                <div class="form-group">
                                    <label>Date</label>&nbsp;&nbsp;
                                    <input class="libre_baskervilleitalic" style="width:260px; border:0;" type="text"
                                           name="date" placeholder="jj/mm/aaaa" value="" required />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="form-inline" style="float:right;">
                                <div class="form-group">
                                    <label>Horaire</label>&nbsp;&nbsp;
                                    <!--TODO what format hour ?-->
                                    <input class="libre_baskervilleitalic" style="width:260px; border:0;" type="text"
                                           name="time" placeholder="hh:mm" value="" required />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="form-inline" style="float:right;">
                                <div class="form-group">
                                    <label>Type de lieu</label>&nbsp;&nbsp;
                                    <input class="libre_baskervilleitalic" style="width:260px; border:0;" type="text"
                                           name="typeplace" placeholder="(appartement, maison, entreprise, etc ...)"
                                           value="" required />
                                </div>
                            </div>
                        </div>
                    </div>
                    <br/>

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="form-inline" style="float:right;">
                                <div class="form-group">
                                    <label>Adresse</label>&nbsp;&nbsp;
                                    <input class="libre_baskervilleitalic" style="width:260px; border:0;" type="text"
                                           name="street2" placeholder="Veuillez saisir votre adresse" required />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="form-inline" style="float:right;">
                                <div class="form-group">
                                    <label>Code postal</label>&nbsp;
                                    <input class="libre_baskervilleitalic" style="width:260px; border:0;" type="text"
                                           name="postal2" placeholder="Veuillez saisir votre code postal" required />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="form-inline" style="float:right;">
                                <div class="form-group">
                                    <label>Ville</label>&nbsp;&nbsp;
                                    <input class="libre_baskervilleitalic" style="width:260px; border:0;" type="text"
                                           name="city2" placeholder="Veuillez saisir votre ville" required />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="form-inline" style="float:right;">
                                <div class="form-group">
                                    <label>Pays</label>&nbsp;&nbsp;
                                    <input class="libre_baskervilleitalic" style="width:260px; border:0;" type="text"
                                           name="country2" placeholder="Veuillez saisir votre pays" required />
                                </div>
                            </div>
                        </div>
                    </div>
                    <br/>

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="form-inline" style="float:right;">
                                <div class="form-group">
                                    <label>Etage</label>&nbsp;&nbsp;
                                    <input class="libre_baskervilleitalic" style="width:260px; border:0;" type="text"
                                           name="floor2" placeholder="Veuillez saisir votre étage"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="form-inline" style="float:right;">
                                <div class="form-group">
                                    <label>Ascensseur</label>&nbsp;&nbsp;
                                    <div class="radio" style="width:260px; float:right;">
                                        <label class="radio-inline">
                                            <input type="radio" name="lift" id="ascRadioOptions1"
                                                   value="1" required>&nbsp;oui
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="lift" id="ascRadioOptions2"
                                                   value="0">&nbsp;non&nbsp;<span id="coutasc"
                                                                                        class="libre_baskervilleitalic pricelabel"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br/>

                    <div class="row" style="padding-top:8px;">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="form-inline" style="float:right;">
                                <div class="form-group">
                                    <label>Vous pouvez m'appeler</label>&nbsp;&nbsp;
                                    <div class="radio" style="width:260px; float:right;">
                                        <label class="radio-inline" style="width:90px;">
                                            <input type="radio" name="iam" id="adRadioOptions1"
                                                   value="1" required >&nbsp;internet
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="iam" id="adRadioOptions2"
                                                   value="2">&nbsp;bouche à oreilles
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-inline" style="float:right;">
                                <div class="form-group">
                                    <div class="radio" style="width:260px;">
                                        <label class="radio-inline" style="width:90px;">
                                            <input type="radio" name="iam" id="adRadioOptions3"
                                                   value="3">&nbsp;presse
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="iam" id="adRadioOptions4"
                                                   value="4">&nbsp;autre
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="text-align:center;">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <input id="btn-ok" type="submit" class="btn btn-std" value="J'ai fini Monsieur !"/>
                </div>
            </div>
        </div>
    </form>
    <br/>
    <br/>

    <div class="footer">Monsieur Vivien vous informe que "l'abus d'alcool est dangereux pour la santé, consommez avec
        modération"
    </div>
</div>
{% endblock%}

{% block scripts %}
<script>

    $(document).ready(function () {

        $('input[name="ifsameaddress"]').on('change', function(){
            var required = !$(this).is(':checked');

            $('input[name="street2"]').attr('required', required)
            $('input[name="postal2"]').attr('required', required)
            $('input[name="city2"]').attr('required', required)
            $('input[name="country2"]').attr('required', required)
        })

        PlatForm.getUserParty(function (Party) {
            console.log(Party)
            $('input[name="city2"]').val(Party.Event.city)
            $('input[name="time"]').val(Party.Event.hour)
            $('input[name="postal2"]').val(Party.Event.postal)
        })
    });

</script>
{% endblock %}