﻿{% extends '../layout/layout.html' %}

{% block title %} renseignements {% endblock%}

{% block styles %}
<style>
    .wrapper {
        color: #fff;
    }
</style>
{% endblock %}


{% block body %}
<div class="wrapper background-orange">
    <div class="row baseninebold menu-nav">
        <div class="col-lg-12 col-md-12 col-sm-12" style="text-align:center;">
            <img src="/content/img/menu-logo-white.png"/>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row" style="padding-top:100px;">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <p class="title-italic">
                    Souhaitez-vous rajouter du personnel de salle pour un confort de service ?
                </p>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12" style="padding-top: 50px;">
                <p class="subtitle">
                    Souhaitez-vous rajouter du personnel de salle pour un confort de service ?
                </p>
            </div>
        </div>
    </div>

    <div class="container" style="padding-top:100px;">
        <div class="row">
            <div class="col-lg-offset-4 col-lg-4 col-md-4 col-sm-4">
                <input class="btn btn-white btn-choix" type="button" data-value="1"
                       value="oui, un commis ! @PRICE@"
                       style="width:100%;"/>
            </div>
        </div>

        <div class="row" style="padding-top: 40px;">
            <div class="col-lg-offset-4 col-lg-4 col-md-4 col-sm-4">
                <input class="btn btn-white btn-choix" type="button" data-value="2"
                       value="oui, un barman ! @PRICE@"
                       style="width:100%;"/>
            </div>
        </div>

        <div class="row" style="padding-top: 80px;">
            <div class="col-lg-offset-4 col-lg-4 col-md-4 col-sm-4">
                <input class="btn btn-white btn-choix" type="button" data-value="none"
                       value="non, merci monsieur"
                       style="width:100%;"/>
            </div>
        </div>
    </div>

    <form id="form-barman" action="{{ 'sur_measure_l5_4'|route }}" method="post">
        <input name="choix" type="hidden" value=""/>
    </form>
</div>
{% endblock%}

{% block scripts %}
<script>
    function btn_choix_onclick(){
        var self = $(this);
        var data = self.data();
        $('input[name="choix"]').val(data.value);
        $('#form-barman').submit();
    }

    $(document).ready(function () {
        PlatForm.getFixedVariables("rajoutePersonnel", function (personnels) {
            personnels.forEach(function (personnel) {
                var input = $('.btn-choix[data-value="'+ personnel.id +'"]');
                var value = input.val().replace("@PRICE@", formattedPrice(personnel.Price.price) + " €");
                input.val(value);
            });
        });


        $(".btn-choix").on("click", btn_choix_onclick);
    });

</script>
{% endblock %}