﻿{% extends '../layout/layout.html' %}

{% block title %} renseignements {% endblock%}

{% block styles %}
<style>
    .wrapper {
        color: #fff;
    }
</style>
{% endblock %}


{% block body %}
<div class="wrapper background-orange">
    <div class="row baseninebold menu-nav">
        <div class="col-lg-12 col-md-12 col-sm-12" style="text-align:center;">
            <img src="/content/img/menu-logo-white.png"/>
        </div>
    </div>
    <form action="{{ 'sur_measure_l2_3'|route|replace(':category', params.category) }}" method="post">
        <div class="container-fluid">
            <div class="row" style="padding-top:100px;">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <p class="title-italic">
                        Souhaitez-vous rajouter une ou des recette(s) de cocktails ?
                    </p>
                </div>
            </div>
            <div class="row text-center baseninesmallcapsregular" style="padding-top:70px;">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <label class="radio-inline">
                        <input type="radio" name="recettesupp" id="recettesupp-1" value="1"><span
                            style="width:80px; display:inline-block; text-align:left;">&nbsp;1&nbsp;recette</span>
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="recettesupp" id="recettesupp-4" value="4"><span
                            style="width:80px; display:inline-block; text-align:left;">&nbsp;4&nbsp;recettes</span>
                    </label>
                </div>
            </div>
            <div class="row text-center baseninesmallcapsregular">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <label class="radio-inline">
                        <input type="radio" name="recettesupp" id="recettesupp-2" value="2"><span
                            style="width:80px; display:inline-block; text-align:left;">&nbsp;2&nbsp;recettes</span>
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="recettesupp" id="recettesupp-5" value="5"><span
                            style="width:80px; display:inline-block; text-align:left;">&nbsp;5&nbsp;recettes</span>
                    </label>
                </div>
            </div>
            <div class="row text-center baseninesmallcapsregular">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <label class="radio-inline">
                        <input type="radio" name="recettesupp" id="recettesupp-3" value="3"><span
                            style="width:80px; display:inline-block; text-align:left;">&nbsp;3&nbsp;recettes</span>
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="recettesupp" id="recettesupp-6" value="6"><span
                            style="width:80px; display:inline-block; text-align:left;">&nbsp;6&nbsp;recettes</span>
                    </label>
                </div>
            </div>
            <div class="row text-center baseninesmallcapsregular" style="padding-top:50px;">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <label class="radio-inline">
                        <input type="radio" name="recettesupp" id="recettesupp-0" value="0">&nbsp;non, merci on vas déjà
                        boire ça !
                    </label>
                </div>
            </div>
            <div class="row text-center baseninesmallcapsregular" style="padding-top:50px;">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <span><span id="nbpers"></span>&nbsp;personnes&nbsp;x&nbsp;<span id="nbrecette"></span>&nbsp;cocktails</span>
                </div>
            </div>
            <div class="row text-center baseninesmallcapsregular">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <span>total&nbsp;=&nbsp;<span id="totalrecette"></span>&nbsp;cocktails&nbsp;<span id="price"
                                                                                                      class="pricelabel"></span></span>
                </div>
            </div>
            <div class="row" style="padding-top:100px;">
                <div class="col-lg-12 col-md-12 col-sm-12" style="text-align:center;">
                    <input id="btn-ok" type="submit" class="btn btn-white" value="je valide"/>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock%}

{% block scripts %}
<script>

    var nbpers = 0;
    var nbrecette = 0;
    var totalrecette = 0;
    var price = 0;

    function recettesupp_onclick() {
        nbrecette = $(this).val();
        $("#nbrecette").html(nbrecette);
        totalrecette = nbpers * nbrecette;
        $("#totalrecette").html(totalrecette);
        $("#price").html(formattedPrice(price * totalrecette) + "€ ttc");
    }

    function btn_ok_onclick() {
    }

    $(document).ready(function () {

        PlatForm.getUserParty(function (Party) {
            nbpers = Party.Event.nbPeople - 1;

            PlatForm.getModelBy("Category", {id: "{{ params.category }}"}, function (r) {
                price = r[0].Price.price;

                $("#nbpers").html(nbpers);
                $("#nbrecette").html(nbrecette);
                totalrecette = nbpers * nbrecette;
                $("#totalrecette").html(totalrecette);
                $("#price").html(formattedPrice(0) + "€ ttc");

                $('input[name="recettesupp"]').on("click", recettesupp_onclick);
                $("#btn-ok").on("click", btn_ok_onclick);

            });
        });

    });
</script>
{% endblock %}