﻿{% extends '../layout/layout.html' %}

{% block title %} renseignements {% endblock%}

{% block styles %}
{% endblock %}

{% block body %}
<div class="wrapper">

    {% include './header/header.html' %}

    <div class="container">
        <form action="{{ 'sur_measure_l1_2'|route }}" method="post">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                    <p class="title-italic">Quelques renseignements sur votre évènement ?</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                    <p class="subtitle-italic">Vous pouvez à tout moment modifier le nombre de convives de votre
                        évènement dans la rubrique <span class="baseninebold">ma commande</span></p>
                </div>
            </div>
            <br/><br/>

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 text-center color-orange">
                    <p class="subtitle">monsieur vivien vous informe que les prestations durent au minimum 4 heures</p>
                </div>
            </div>
            <br/><br/><br/><br/>

            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <span class="libre_baskervilleitalic" style="font-size:20px;">Date de mon évènement</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <span class="date baseninesmallcapsbold">
                                <input class="day" type="text" placeholder="jour" name="day"
                                       style="width:40px; font-size:20px; text-align:center; border:0;margin-right: 10px;"
                                       required/>
                                <input
                                        class="month" type="text" placeholder="mois" name="month"
                                        style="width:60px; font-size:20px; text-align:center; border:0;margin-right: 10px;"
                                        required/>
                                <input
                                        class="year" type="text" placeholder="année" name="year"
                                        style="width:60px; font-size:20px; text-align:center; border:0;margin-right: 10px;"
                                        required/>
                                </span>
                        </div>
                    </div>
                    <br/>

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <span class="libre_baskervilleitalic" style="font-size:20px;">Heure de début</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <span class="time baseninesmallcapsbold" style="font-size:20px;">
                                <input class="hour"
                                       type="text"
                                       placeholder="hh"
                                       name="hour"
                                       style="width:40px; text-align:center; border:0;"
                                       required/>&nbsp;heure&nbsp;
                                <input
                                        class="minute" placeholder="mm" name="minute"
                                        style="width:40px; text-align:center; border:0;" required/></span>
                        </div>
                    </div>
                    <br/>

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <span class="libre_baskervilleitalic" style="font-size:20px;">Durée de la prestation</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <span class="baseninesmallcapsbold" style="font-size:20px;">
                                <span class="dmoins" style="cursor:pointer;">-</span>&nbsp;
                                <span class="dplus" style="cursor:pointer;">+</span>&nbsp;
                                <span class="duration"></span>
                                <input type="hidden" name="duration" value=""/>
                            </span>
                        </div>
                    </div>
                    <br/>

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <span class="libre_baskervilleitalic" style="font-size:20px;">Code postal</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input class="postcode baseninesmallcapsbold" type="text" placeholder="Code postal"
                                   name="postcode" style="font-size:20px; border:0;" required/>
                        </div>
                    </div>
                    <br/>

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <span class="libre_baskervilleitalic" style="font-size:20px;">Ville</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input class="city baseninesmallcapsbold" type="text" placeholder="Ville"
                                   name="city" style="font-size:20px; border:0;" required/>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <span class="libre_baskervilleitalic">Type d'évènement</span>
                        </div>
                    </div>
                    <div class="radio baseninesmallcapsregular">
                        <label style="font-size:16px;"><input type="radio" name="type_event" value="1" required>anniversaire</label>
                    </div>
                    <div class="radio baseninesmallcapsregular">
                        <label style="font-size:16px;"><input type="radio" name="type_event" value="2">mariage</label>
                    </div>
                    <div class="radio baseninesmallcapsregular">
                        <label style="font-size:16px;"><input type="radio" name="type_event" value="3">célébration
                            religieuse</label>
                    </div>
                    <div class="radio baseninesmallcapsregular">
                        <label style="font-size:16px;"><input type="radio" name="type_event" value="4">célébration
                            privée</label>
                    </div>
                    <div class="radio baseninesmallcapsregular">
                        <label style="font-size:16px;"><input type="radio" name="type_event" value="5">comité
                            d'entreprise</label>
                    </div>
                    <div class="radio baseninesmallcapsregular">
                        <label style="font-size:16px;"><input type="radio" name="type_event" value="6">pot de
                            départ</label>
                    </div>
                    <div class="radio baseninesmallcapsregular">
                        <label style="font-size:16px;"><input type="radio" name="type_event" value="7">salon
                            professionnel</label>
                    </div>
                    <div class="radio baseninesmallcapsregular">
                        <label style="font-size:16px;"><input type="radio" name="type_event" value="8">soirée de rallye</label>
                    </div>
                    <div class="radio baseninesmallcapsregular">
                        <label style="font-size:16px;"><input type="radio" name="type_event" value="9">boom (sans
                            alcool)</label>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <span class="libre_baskervilleitalic">&nbsp;</span>
                        </div>
                    </div>
                    <div class="radio baseninesmallcapsregular">
                        <label style="font-size:16px;"><input type="radio" name="type_event" value="10">enterrement de
                            vie de garçon</label>
                    </div>
                    <div class="radio baseninesmallcapsregular">
                        <label style="font-size:16px;"><input type="radio" name="type_event" value="11">enterrement de
                            vie de jeune fille</label>
                    </div>
                    <div class="radio baseninesmallcapsregular">
                        <label style="font-size:16px;"><input type="radio" name="type_event" value="12">formule de
                            saison</label>
                    </div>
                    <div class="radio baseninesmallcapsregular">
                        <label style="font-size:16px;"><input type="radio" name="type_event" value="13">formule du mois</label>
                    </div>
                    <div class="radio baseninesmallcapsregular">
                        <label style="font-size:16px;"><input type="radio" name="type_event" value="14">bar à
                            shots</label>
                    </div>
                    <div class="radio baseninesmallcapsregular">
                        <label style="font-size:16px;"><input type="radio" name="type_event" value="15">formule
                            s'adapter à mon thème</label>
                    </div>
                    <div class="radio baseninesmallcapsregular">
                        <label style="font-size:16px;"><input type="radio" name="type_event" value="16">salon</label>
                    </div>
                    <div class="radio baseninesmallcapsregular">
                        <label style="font-size:16px;"><input type="radio" name="type_event" value="17">autre</label>
                    </div>
                </div>
            </div>
            <br/><br/><br/><br/>

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                    <span>
                        <a href="{{ 'sur_measure_l1_1'|route }}">
                            <!--<span class="libre_baskervilleitalic">Question précédente</span>&nbsp;&nbsp;&nbsp;&nbsp;-->
                            <span class="libre_baskervilleitalic"></span>
                            <img id="btn-back" src="/content/img/arrow-back.png"/>&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                        <input id="btn-ok" type="submit" class="btn btn-std" value="je valide"/>
                    </span>
                </div>
            </div>
        </form>
    </div>
    <br/><br/>

    <div class="footer">Monsieur Vivien vous informe que "l'abus d'alcool est dangereux pour la santé, consommez avec
        modération"
    </div>
</div>
{% endblock%}

{% block scripts %}
<script>
    var date = "";
    var time = "";
    var duration = 4;
    var postcode = "";
    var city = "";

    function dplus_onclick() {
        if (duration < 10) {
            duration++;
            $(".duration").html(duration);
            $("input[name='duration']").val(duration);
        }
    }
    function dmoins_onclick() {
        if (duration > 4) {
            duration--;
            $(".duration").html(duration);
            $("input[name='duration']").val(duration);
        }
    }

    function initDummyData() {

//        total = 997845.5;
//        date = new Date(2016, 11, 20, 19, 45);
//        duration = 6;
//        address = "pont de sevres";
//        postcode = "92100";
//        city = "boulogne-billancourt";
//
//        $(".date").find(".day").val(date.getDate());
//        $(".date").find(".month").val(date.getMonth());
//        $(".date").find(".year").val(date.getUTCFullYear());
//        $(".time").find(".hour").val(date.getHours());
//        $(".time").find(".minute").val(date.getMinutes());
//        $(".duration").text(duration);
//        $(".postcode").val(postcode);
//        $(".city").val(city);
//        $(".address").val(address);

        $(".time").find(".hour").val("00");
        $(".time").find(".minute").val("00");
        $(".duration").text(duration);

    }

    $(document).ready(function () {
        $(".dplus").on("click", dplus_onclick);
        $(".dmoins").on("click", dmoins_onclick);

        PlatForm.getUserParty(function (Party) {
            console.log(Party);
            if (Party.Event) {
                if (Party.Event.address) {
                    var date = new Date(Party.date);
                    $(".date").find(".day").val(date.getDate());
                    $(".date").find(".month").val(date.getMonth());
                    $(".date").find(".year").val(date.getUTCFullYear());
                    $(".time").find(".hour").val(date.getHours());
                    $(".time").find(".minute").val(date.getMinutes());
                    $(".duration").val(Party.Event.duration);
                    $(".postcode").val(Party.Event.postal);
                    $(".city").val(Party.Event.city);
                    $(".address").val(Party.Event.address);
                    $("input[value='" + Party.Event.type + "']").attr("checked", true);
                } else {
                    initDummyData();
                }
            }
        });


    });
</script>
{% endblock %}