﻿{% extends '../layout/layout.html' %}

{% block title %}{% endblock%}

{% block styles %}

<style>
    .date {
        font-size: 14px;
    }

    .header {
        font-size: 16px;
    }

    .description {
        font-size: 14px;
    }

    .price {
        font-weight: bold;
        font-size: 40px;
        line-height: 80px;
    }
</style>
{% endblock %}

{% block body %}
<div class="row wrapper">

    {% include './header/header.html' %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <p class="subtitle color-orange" style="text-transform:uppercase; font-size:16px; padding-top:50px;">
                    Monsieur Vivien vous rappelle que votre formule sera modifiable après sélection !</p>
            </div>
        </div>
        <br/>
        <div class="row" style="padding:0; margin:0; text-align: center;">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="row-0" style="position:relative; display: inline-block;">
                </div>
            </div>
        </div>
        <div class="row" style="padding:0; margin:0; padding-top:10px; text-align: center;">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="row-1" style="position:relative; display: inline-block;">
                </div>
            </div>
        </div>
        <div class="row" style="padding:0; margin:0; padding-top:10px; text-align: center;">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="row-2" style="position:relative; display: inline-block;">
                </div>
            </div>
        </div>
        <div class="row" style="padding:0; margin:0; padding-top:10px; text-align: center;">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="row-3" style="position:relative; display: inline-block;">
                </div>
            </div>
        </div>
    </div>
    <br/><br/>
    <div class="footer">Monsieur Vivien vous informe que "l'abus d'alcool est dangereux pour la santé, consommez avec
        modération"
    </div>
</div>
{% endblock%}

{% block scripts %}
<script>
    var row1_tmp = '<div class="row" style="padding:0; margin:0;">' +
            '<div class="col-lg-12 col-md-12 col-sm-12">' +
            '</div>' +
            '</div>';
    var row2_tmp = '<div class="row" style="padding:0; margin:0; padding-top:10px;">' +
            '<div class="col-lg-12 col-md-12 col-sm-12">' +
            '</div>' +
            '</div>';
    var date_tmp = '<span class="date libre_baskervilleitalic">du <span class="baseninesmallcapsregular">@START@</span> ' +
            'au <span class="baseninesmallcapsregular">@END@</span></span><br />';
    var formule_tmp = '<div id="@ID@" class="box @BOXCOLOR@">' +
            '@DATE@' +
            '<span class="header baseninesmallcapsbold">@NAME@</span><br />' +
            '<span class="description libre_baskervilleitalic">@DESC@</span><br />' +
            '<span class="price libre_baskervilleitalic">@PRICE@</span>' +
            '</div>';

    var formuleDetailPath = "{{ 'formule_details'|route }}"

    var formule_list = [];
    var total = 0.00;

    function box_onclick(obj) {
        window.location = formuleDetailPath.replace(':ID', obj.id)
    }
    function btn_menu_onclick() {
    }
    function btn_help_onclick() {
    }

    var j, i;

    $(document).ready(function () {

        PlatForm.core.get('/formule/all/')
                .then(function (r) {
                    formule_list = r

                    for (i = 0; i < formule_list.length; i++) {
                        var item = formule_list[i];
                        var tmp = formule_tmp;
                        tmp = tmp.replace("@ID@", item.id).replace("@NAME@", item.name)
                                .replace("@DESC@", 'prix valable jusqu\'à 50 personnes')
                                .replace("@PRICE@", item.price === null ? "À venir" : formattedPrice(item.price) + " €");
                        if (item.start === null && item.end === null) {
                            tmp = tmp.replace("@DATE@", "<br />");
                        }
                        else {
                            var dS = new Date(item.start)
                            var dE = new Date(item.end)
                            var strDS = dS.getDate() + "." + (dS.getMonth() + 1) + "." + dS.getFullYear()
                            var strDE = dE.getDate() + "." + (dE.getMonth() + 1) + "." + dE.getFullYear()
                            tmp = tmp.replace("@DATE@", date_tmp.replace("@START@", strDS).replace("@END@", strDE));
                        }

                        switch (item.type) {
                            case 0:
                            {
                                tmp = tmp.replace("@BOXCOLOR@", "box-orange");
                                break;
                            }
                            case 1:
                            {
                                tmp = tmp.replace("@BOXCOLOR@", "box-green");
                                break;
                            }
                            case 2:
                            {
                                tmp = tmp.replace("@BOXCOLOR@", "box-blue");
                                break;
                            }
                        }

                        if (i < 4) {
                            $(".row-0").append(tmp);
                        }
                        if (i > 3 && i < 8) {
                            $(".row-1").append(tmp);
                        }
                        if (i > 7 && i < 12) {
                            $(".row-2").append(tmp);
                        }
                        if (i > 11) {
                            $(".row-3").append(tmp);
                        }
                    }

                    $("#btn-menu").on("click", btn_menu_onclick);
                    $("#btn-help").on("click", btn_help_onclick);
                    $(".box.box-orange").on("click", function () {
                        box_onclick(this);
                    });

                })
    });
</script>
{% endblock %}