﻿{% extends '../layout/layout.html' %}

{% block title %}{% endblock%}

{% block styles %}
{% endblock %}

{% block body %}
<div class="wrapper">

    {% include './header/header.html' %}

    <div class="container">
        <form action="{{ 'sur_measure_l1_4'|route }}" method="post">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <p class="title-italic">Souhaitez-vous un thème pour votre évènement ?</p>
                </div>
            </div>
            <br/><br/>

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <p class="baseninesmallcapsregular color-orange text-center">
                        quoi de mieux qu'un thème pour habiller vos soirées !<br/>
                        harmonisez vos évènements et plongez vos convives dans une ambiance décalée.
                    </p>
                </div>
            </div>
            <br/><br/><br/><br/><br/><br/>

            <div class="row">
                <div class="col-lg-offset-5 col-lg-3 col-md-3 col-sm-3">
                    <div class="radio baseninesmallcapsregular">
                        <label>
                            <input type="radio" name="choix" id="option1" value="1" checked>&nbsp;oui, j'ai un thème
                            dément !
                        </label>
                    </div>
                </div>
            </div>
            <div class="row" id="list-1">
                <div class="col-lg-offset-2 col-lg-3 col-md-3 col-sm-3">
                    <div class="list1">
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="list2">
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="list3">
                    </div>
                    <!--<input class="libre_baskervilleitalic" type="text" placeholder="veuillez saisir votre thème" style="border:0; width:260px;" />-->
                </div>
            </div>


            <div class="row">
                <div class="col-lg-offset-5 col-lg-3 col-md-3 col-sm-3">
                    <div class="radio baseninesmallcapsregular">
                        <label>
                            <input type="radio" name="choix" id="option2" value="2">&nbsp;oui, mais je n'ai pas de thème
                        </label>
                    </div>
                </div>
            </div>
            <div class="row" id="list-2">
                <div class="col-lg-offset-2 col-lg-3 col-md-3 col-sm-3">
                    <div class="list1">
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="list2">
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="list3">
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-lg-offset-5 col-lg-3 col-md-3 col-sm-3">
                    <div class="radio baseninesmallcapsregular">
                        <label>
                            <input type="radio" name="choix" id="option3" value="3">&nbsp;non, je n'ai pas de thème
                        </label>
                    </div>
                </div>
            </div>

            <br/><br/><br/><br/>

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                        <span>
                            <a href="{{ 'sur_measure_l1_2'|route }}">
                                <img id="btn-back" src="/content/img/arrow-back.png"/>&nbsp;&nbsp;&nbsp;&nbsp;
                            </a>
                            <input id="btn-ok" type="submit" class="btn btn-std" value="je valide"/></span>
                </div>
            </div>
        </form>
    </div>
    <br/><br/>

    <div class="footer">Monsieur Vivien vous informe que "l'abus d'alcool est dangereux pour la santé, consommez avec
        modération"
    </div>
</div>
{% endblock%}

{% block scripts %}
<script>

    var theme_item = '<div class="radio baseninesmallcapsregular">' +
            '<label>' +
            '<input type="radio" name="choixtheme" id="@THEMEID@" value="@THEMEVALUE@" required>&nbsp;@THEME@&nbsp;<span class="libre_baskervilleitalic pricelabel">@PRICE@</span>' +
            '</label>' +
            '</div>';
    function Theme(id, desc, price) {
        this.id = id;
        this.desc = desc;
        this.price = price;
    }

    var lists = {};
    var list1 = [];
    var list2 = [];
    var list3 = [];
    var total = 0;
    var item;

    function create_theme_list(container) {
        $('.list1').empty();
        $('.list2').empty();
        $('.list3').empty();

        var tmp;
        for (var i = 0; i < list1.length; i++) {
            item = list1[i];
            tmp = theme_item;
            tmp = tmp.replace("@THEMEID@", "theme-" + item.id).replace("@THEMEVALUE@", item.id).replace("@THEME@", item.name).replace("@PRICE@", formattedPrice(item.Price.price) + " €");
            container.find(".list1").append(tmp);
        }

        for (i = 0; i < list2.length; i++) {
            item = list2[i];
            tmp = theme_item;
            tmp = tmp.replace("@THEMEID@", "theme-" + item.id).replace("@THEMEVALUE@", item.id).replace("@THEME@", item.name).replace("@PRICE@", formattedPrice(item.Price.price) + " €");
            container.find(".list2").append(tmp);
        }

        for (i = 0; i < list3.length; i++) {
            item = list3[i];
            tmp = theme_item;
            tmp = tmp.replace("@THEMEID@", "theme-" + item.id).replace("@THEMEVALUE@", item.id).replace("@THEME@", item.name).replace("@PRICE@", formattedPrice(item.Price.price) + " €");
            container.find(".list3").append(tmp);
        }
    }

    function on_radio_choix_change() {
        var self = $(this);
        create_theme_list($('#list-' + self.val()));
    }

    function btn_menu_onclick() {
    }
    function btn_help_onclick() {
    }
    function btn_back_onclick() {
    }
    function btn_ok_onclick() {
    }

    $(document).ready(function () {
        var model = "Theme";

        PlatForm.getModelBy(model, {list: "1"}, function (r) {
            for (var i = 0; i < r.length; i++) {
                var item = r[i];
                list1.push(item);
            }

            PlatForm.getModelBy(model, {list: "2"}, function (r) {
                for (var i = 0; i < r.length; i++) {
                    var item = r[i];
                    list2.push(item);
                }

                PlatForm.getModelBy(model, {list: "3"}, function (r) {
                    for (var i = 0; i < r.length; i++) {
                        var item = r[i];
                        list3.push(item);
                    }

                    create_theme_list($('#list-1'));
                });
            });
        });

        $('input[name="choix"]').change(on_radio_choix_change);
        $("#btn-menu").on("click", btn_menu_onclick);
        $("#btn-help").on("click", btn_help_onclick);
        $("#btn-back").on("click", btn_back_onclick);
        $("#btn-ok").on("click", btn_ok_onclick);


//        PlatForm.getUserParty(function (Party) {
//            API.get("/core/Theme/" + Party.Event.ThemeId)
//                    .then(function (r) {
//                        if (r.r && r.r.count == 1) {
//                            var theme = r.r.rows[0];
//                            console.log("Theme", theme);
//                            $('input[value="' + theme.type + '"][name="choix"]').attr('checked', true);
//                            // TODO choose type theme if defined
//                        }
//                    })
//        });

    });

</script>
{% endblock %}