﻿{% extends '../layout/layout.html' %}

{% block title %} Tutoriel {% endblock%}

{% block styles %}
<style>
    .wrapper { color:#fff; }
</style>
{% endblock %}

{% block body %}
<div class="wrapper background-orange">
    <div class="container">
        <div class="row baseninebold menu-nav">
            <div class="col-lg-12 col-md-12 col-sm-12" style="text-align:center;">
                <a href="{{ 'root'|route }}">
                    <img src="/content/img/menu-logo-white.png" />
                </a>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <p class="subtitle" style="padding-top:150px;">
                        Bienvenu(e) chez Monsieur Vivien !
                    </p>
                </div>
            </div>
            <div class="row" style="padding-top:100px;">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <p class="libre_baskervilleitalic" style="text-align:center;">
                        Monsieur Vivien vous propose le seul concept de bar à domicile pour tous vos évènements.<br />
                        Venez découvrir l'art du barman et déguster de nombreux cocktails. Un large choix de services de bar est à votre disposition.<br />
                        Créez en ligne votre devis sans intermédiaire en à peine 10 minutes, ensuite Monsieur Vivien s'occupe de tout.<br />
                        Profitez des relations de Monsieur Vivien pour bénéficier des meilleurs prix du marché !<br />
                        Grâce à son bar pliable, Monsieur vivien est capable de rentrer dans n'importe quel ascenseur parisien.<br />
                        Dans l'espace particulier, organisez vos évènements privés (anniversaires, comité d'entreprises, soirées ...)<br />
                        Dans l'espace professionnel, remplacez au pied levé un barman !
                    </p>
                </div>
            </div>
            <div class="row" style="padding-top:150px;">
                <div class="col-lg-12 col-md-12 col-sm-12" style="text-align:center;">
                    <a href="#">
                        <input id="btn-ok" type="button" class="btn btn-white" value="regarder le tutoriel" />
                    </a>
                </div>
            </div>
            <br />
            <br />
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12" style="text-align:center;">
                    <a href="{{ 'espace_particulier'|route }}">
                        <input id="btn-no" type="button" class="btn btn-white" value="non, merci monsieur" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}

{% block scripts %}
<script>
    function btn_ok_onclick() { }
    function btn_no_onclick() { }

    $(document).ready(function () {
        $("#btn-ok").on("click", btn_ok_onclick);
        $("#btn-no").on("click", btn_no_onclick);
    });
</script>
{% endblock %}