﻿{% extends '../layout/layout.html' %}

{% block title %} renseignements {% endblock%}

{% block styles %}
{% endblock %}

{% block body %}
<div class="wrapper">

    {% include './header/header.html' %}

    <form action="{{ 'sur_measure_l2_1'|route }}" method="post">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <p class="title-italic">Quel type de boissons souhaitez-vous ?</p>
                </div>
            </div>
            <br/><br/>

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <p class="subtitle color-orange">
                        monsieur vivien vous informe que ces différents services peuvent être cumulés !
                    </p>
                </div>
            </div>
            <br/><br/><br/><br/>

            <div class="row">
                <div class="col-lg-offset-2 col-lg-3 col-md-3 col-sm-3">
                    <div class="list1">
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="list2">
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="list3">
                    </div>
                </div>
            </div>
            <br/><br/><br/><br/><br/><br/>

            <div class="row">
                <div class="col-lg-offset-2 col-lg-3 col-md-3 col-sm-3">
                    <p class="libre_baskervilleitalic" style="font-size:8px;">
                        * prix minimums indiqué valable uniquement en cumul.<br/>
                        Exemple: 1 service cocktail à 89 € + 1 service softs à 49,90 €
                    </p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="radio">
                        <label>
                            <input type="checkbox" name="noboisson" id="noboisson" value="noboisson"/>&nbsp;<label
                                class="baseninesmallcapsregular" style="padding-left:0px;">je n'ai pas soif,<br/>merci
                            monsieur vivien</label>
                        </label>
                    </div>
                </div>
            </div>
            <br/><br/><br/><br/>

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                    <span>
                        <a href="{{ 'sur_measure_l1_5'|route }}">
                            <img id="btn-back" src="/content/img/arrow-back.png"/>&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
    
                        <input id="btn-ok" type="submit" class="btn btn-std" value="je valide"/>
                    </span>
                </div>
            </div>
        </div>
    </form>
    <br/><br/>

    <div class="footer">Monsieur Vivien vous informe que "l'abus d'alcool est dangereux pour la santé, consommez avec
        modération"
    </div>
</div>
{% endblock%}

{% block scripts %}
<script>

    var theme_item = '<div class="radio">' +
            '<label>' +
            '<input type="checkbox" name="choix1boisson" id="@BOISSONID@" value="@BOISSONVALUE@">' +
            '<span class="baseninesmallcapsregular">&nbsp;@BOISSON@&nbsp;</span>' +
            '<span class="libre_baskervilleitalic pricelabel">à partir de @PRICE@</span><br />' +
            '<span class="baseninebold" style="padding-left:5px; font-size:12px;">@COMPOSITION@</span>' +
            '<p class="libre_baskervilleitalic" style="padding-left:5px; font-size:12px;">@DESCRIPTION@</p>' +
            '</label>' +
            '</div>';
    function Theme(id, boisson, price, comp, desc) {
        this.id = id;
        this.boisson = boisson;
        this.price = price;
        this.comp = comp;
        this.description = desc;
    }
    var list1 = [];
    var list2 = [];
    var list3 = [];
    var total = 0;
    var item;
    var tmp, i;

    function input_change() {
        var self = $(this);
        if (self.attr("name") == "noboisson") {
            if (self.is(":checked")) {
                $("input[type='checkbox']:not(input[name='noboisson'])").attr('checked', false);
            }
        } else {
            $("input[name='noboisson']").attr('checked', false);
        }
    }

    function create_drinks_list() {
        // TODO composition
        for (i = 0; i < list1.length; i++) {
            item = list1[i];
            tmp = theme_item;
            tmp = tmp.replace("@BOISSONID@", "theme-" + item.id)
                    .replace("@BOISSONVALUE@", item.id).replace("@BOISSON@", item.name)
                    .replace("@PRICE@", formattedPrice(item.Price.price) + " € ttc*")
                    .replace("@COMPOSITION@", item.description).replace("@DESCRIPTION@", item.descriptionLarge);
            $(".list1").append(tmp);
        }
        for (i = 0; i < list2.length; i++) {
            item = list2[i];
            tmp = theme_item;
            tmp = tmp.replace("@BOISSONID@", "theme-" + item.id)
                    .replace("@BOISSONVALUE@", item.id).replace("@BOISSON@", item.name)
                    .replace("@PRICE@", formattedPrice(item.Price.price) + " € ttc*")
                    .replace("@COMPOSITION@", item.description).replace("@DESCRIPTION@", item.descriptionLarge);
            $(".list2").append(tmp);
        }
        for (i = 0; i < list3.length; i++) {
            item = list3[i];
            tmp = theme_item;
            tmp = tmp.replace("@BOISSONID@", "theme-" + item.id)
                    .replace("@BOISSONVALUE@", item.id).replace("@BOISSON@", item.name)
                    .replace("@PRICE@", formattedPrice(item.Price.price) + " € ttc*")
                    .replace("@COMPOSITION@", item.description).replace("@DESCRIPTION@", item.descriptionLarge);
            $(".list3").append(tmp);
        }

        $("input[type='checkbox']").on("change", input_change);
    }

    $(document).ready(function () {

        var model = "Category";

        PlatForm.getModelBy(model, {list: "1"}, function (r) {
            for (var i = 0; i < r.length; i++) {
                var item = r[i];
                list1.push(item);
            }

            PlatForm.getModelBy(model, {list: "2"}, function (r) {
                for (var i = 0; i < r.length; i++) {
                    var item = r[i];
                    list2.push(item);
                }

                PlatForm.getModelBy(model, {list: "3"}, function (r) {
                    for (var i = 0; i < r.length; i++) {
                        var item = r[i];
                        list3.push(item);
                    }

                    create_drinks_list();
                });
            });
        });

    });
</script>
{% endblock %}