﻿{% extends '../layout/layout.html' %}

{% block title %}Animation{% endblock%}

{% block styles %}
{% endblock %}

{% block body %}
<div class="wrapper">

    {% include './header/header.html' %}


    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <p class="title-italic">Voulez-vous un barman ?</p>
            </div>
        </div>
        <div class="row" style="padding-top:150px;">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <p class="subtitle color-orange">
                    monsieur vivien vous informe que les services bar et barman sont indiscociable !
                </p>
            </div>
        </div>
    </div>
    <div class="container" style="padding-top:200px;">
        <div class="row">
            <div class="col-lg-offset-4 col-lg-4 col-md-4 col-sm-4">
                <input id="btn-ok" class="btn btn-std btn-choix" type="button" data-value="1" value="oui, s'il vous plait monsieur vivien"
                       style="width:100%;"/>
            </div>
        </div>
        <br/><br/>

        <div class="row">
            <div class="col-lg-offset-4 col-lg-4 col-md-4 col-sm-4">
                <input id="btn-no" class="btn btn-std btn-choix" type="button" data-value="0" value="non, merci monsieur vivien"
                       style="width:100%;"/>
            </div>
        </div>
    </div>
    <form id="form-barman" action="{{ 'sur_measure_l5_2'|route }}" method="post">
        <input name="choix" type="hidden" value=""/>
    </form>
    <br/><br/>

    <div class="footer">Monsieur Vivien vous informe que "l'abus d'alcool est dangereux pour la santé, consommez avec
        modération"
    </div>
</div>
{% endblock%}

{% block scripts %}
<script>


    var total = 0;

    function btn_choix_onclick(){
        var self = $(this);
        var data = self.data();
        $('input[name="choix"]').val(data.value);
        $('#form-barman').submit();

    }

    $(document).ready(function () {
        $(".btn-choix").on("click", btn_choix_onclick);
        $("#btn-menu").on("click", btn_menu_onclick);
        $("#btn-help").on("click", btn_help_onclick);
    });

    function btn_menu_onclick() {
    }
    function btn_help_onclick() {
    }

    function initDummyData() {
        total = 9865.45;
    }

</script>
{% endblock %}