<!DOCTYPE html>
<html>
<head>
    <title>Mr.Vivien {% block title %}{% endblock %}</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/content/css/Reset.css" />
    <link rel="stylesheet" type="text/css" href="/content/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/content/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/content/font-awesome-4.4.0/css/font-awesome.min.css" />
    <script src="/components/jquery/dist/jquery.min.js"></script>
    <script src="/content/js/helper.js"></script>
    {% block styles %}{% endblock %}

</head>
<body>
    {% block body %}{% endblock %}
</body>
<script>
    var global = {
        session: {
            id: '{{ session.id }}'
        }
    };
</script>
<script src="/components/bluebird/js/browser/bluebird.min.js"></script>
<script src="/components/underscore/underscore-min.js"></script>
<script src="/js/helper.js"></script>
<script src="/js/platform.js"></script>
{% block scripts %}{% endblock %}
<script>
    PlatForm.maCommandeTotal(function(total) {
        $(".total").html(formattedPrice(total) + " €");
    });

</script>
</html>
